[2018-05-07 12:55] WusamX opened #361 "when I custom transformers，should spark or mleap opclass be packaged into mleap serving deamon？ should i rebuild mleap whole project"
[ERROR] [05/07/2018 12:50:18.123] [MleapServing-akka.actor.default-dispatcher-51] [akka.actor.ActorSystemImpl(MleapServing)] Error during
[ERROR] [05/07/2018 12:50:21.275] [MleapServing-akka.actor.default-dispatcher-51] [MleapResource] error with request
java.util.NoSuchElementException: key not found: my_string_map
	at scala.collection.MapLike$class.default(MapLike.scala:228)
	at scala.collection

[2018-05-08 15:24] schlichtanders opened #362 "Extend MLeap Server to serve multiple models"
MLeap seems to be one of the recommended replacements for PMML ([see e.g. here](https://medium.com/rv-data/mleap-providing-near-real-time-data-science-with-apache-spark-c34e7df093ca)). While for PMML [openscoring](https://github.com/openscoring/openscoring) already implements a quite flexible model server, MLeap does not seem to have such support yet.

What is there in MLeap:
- http://mleap-docs.c

[2018-05-08 15:31] kevinykuo commented on #362
Related https://github.com/combust/mleap/issues/245

[2018-05-10 21:49] hollinwilkins commented on #362
@kevinykuo @schlichtanders Take a look at this branch, where a lot of work is being done to improve the model servers: https://github.com/combust/mleap/tree/feature/mleap-grpc

[2018-05-10 21:59] kevinykuo commented on #362
Yep, definitely looking forward to that!

[2018-05-14 03:52] #361 closed

[2018-05-14 18:50] ludatabricks opened #363 "MLeap-spark does not support Spark 2.3"
When I try to use MLeap-spark to serialize the pipeline with spark 2.3. It shows error "unsupported Spark version: ".
It seems that MLeap-spark does not support Spark 2.3 yet.

Is there any plan to make MLeap support spark 2.3?

[2018-05-15 17:53] cappaberra commented on #363
Interested in this as well.  Likely related to my inability to serialize a Spark Pipeline using Spark 2.3 since the above error is being masked by this one after calling serializeToBundle():

`Py4JJavaError: An error occurred while calling o2094.serializeToBundle.
: java.lang.NoClassDefFoundError: Could not initialize class org.apache.spark.ml.bundle.SparkBundleContext$`

I'm interested as well to

[2018-05-15 19:46] cappaberra commented on #343
@nathanaelmouterde What version of Spark are you running?  I encountered this issue (https://github.com/combust/mleap/issues/363) ... I downgraded from v2.3 to v2.2 and everything started working.  It seems MLeap isn't ready for Spark v2.3 yet. :)

[2018-05-16 20:49] lgongms commented on #179
Any finding for this issue?  I ran into the same problem.  The json file that I used is attached.  Thanks!
[adult_census_leapframe.txt](https://github.com/combust/mleap/files/2010805/adult_census_leapframe.txt)

[2018-05-17 02:29] cappaberra commented on #363
In addition, this is a duplicate issue of this one:  https://github.com/combust/mleap/issues/352

[2018-05-18 04:03] hollinwilkins commented on #363
#364 merged

[2018-05-18 04:03] #363 closed

[2018-05-18 04:03] hollinwilkins commented on #352
#364 merged

[2018-05-18 04:03] #352 closed

[2018-05-20 03:00] cappaberra commented on #325
@davidecoccia, I opened pull request https://github.com/combust/mleap/pull/366 that consequently helps with this request. Hopefully we can get it reviewed / discussed / merged soon. :)

[2018-05-20 05:16] donigian opened #367 "MLeap Scikit Example Broken"
Hi,
I tried to get the Scikit-learn [example](http://mleap-docs.combust.ml/getting-started/scikit-learn.html) from the documentation to work

[code]

 But ran into the following error:

[code]

Any suggestions?

AirBnb price regression [example](https://github.com/combust/mleap-demo/blob/master/notebooks/airbnb-price-regression-scikit.ipynb) breaks due to the same error.

[2018-05-21 13:15] gabtibe commented on #354
Any developments on this issue?

[2018-05-21 15:37] hollinwilkins commented on #325
Merged #366

[2018-05-21 15:37] #325 closed

[2018-05-21 21:05] ancasarb commented on #354
@gabtibe please see the answer above, about using the Imputer from mleap-extensions. Let me know if you have any questions!

[2018-05-26 13:37] gabtibe commented on #354
@ancasarb Thanks for your response; I did use the `Imputer` from `spark-extension` but was wondering if there's any plan to support the standard `Imputer` from `Spark` as I noticed it speeds up computation and reduce the number of steps in the pipeline to be saved

[2018-05-27 07:38] pratyushsharma opened #369 "MLEAP custom spark transformers in pyspark"
Using mleap binary transformers in pyspark for serializing bundles. Couldn't figure out a way to expose mleap transformers to spark.

[code]

[2018-06-01 19:31] kevinykuo commented on #354
+1 for support of Spark `ImputerModel`, makes exporting existing pipelines much easier.

[2018-06-03 11:17] ihainan opened #370 "Documentation in Chinese language"
Hi there, I've translated the MLeap documentation into Simplified Chinese, hope it can help more users from China. :D

GitBook Link:  https://mleap.ihainan.me/
GitHub Repo:  https://github.com/ihainan/mleap-docs

[2018-06-07 07:07] asoriano-stratio opened #372 "Python Mleap library in v0.10.1 release mantains 0.9.4 version"
Versioning in Python Mleap library seems not be updated in v0.10.1 release:

File: mleap/python/mleap/version.py

__version__ = "0.9.4"

[2018-06-07 11:53] MTDzi commented on #367
Same here.

[2018-06-07 22:53] cfespinoza commented on #369
I think it is not possible by the moment, I have faced the same issue and reading the documentation, it is necessary to define your transformer with its backend in Scala. Take a look to the doc:
http://mleap-docs.combust.ml/mleap-runtime/custom-transformer.html

hope that helps!

[2018-06-08 23:59] danielyli commented on #360
Any updates on this?

[2018-06-11 18:00] winston-zillow opened #373 "Example for invoking MLeap runtime in python?"
While the product claims to run universally, I only see example/document for invoking the runtime in Scala. Are there support/documents for Python?

[2018-06-12 05:52] haiy commented on #373
+1

[2018-06-15 10:05] stefanm7 opened #374 "Mleap 0.10.1 exception with Spark 2.2.1"
Due to adaption of Mleap to Spark 2.3.0 in pull request #364  this error occurs when executing the with Spark 2.2.1 Spark-Example shown in the readme.md of this repository.

`Exception in thread "main" java.lang.NoSuchMethodError: org.apache.spark.ml.feature.StringIndexerModel.getStringOrderType()Ljava/lang/String;
	at org.apache.spark.ml.bundle.ops.feature.StringIndexerOp$$anon$1.store(StringInde

[2018-06-19 08:47] ksoucy commented on #367
I experienced the same issue, it looks related to changes made in #344 which were merged to master.

If you change line 90 in your local /Users/avd/anaconda/envs/py35_auto_mrm/lib/python3.5/site-packages/mleap/sklearn/preprocessing/data.py  file, to match the master branch, the demo notebook works:

-    class_name = "{}".format(self.__init__.im_class).split('.')[-1].replace('>','').replace("'",''

[2018-06-19 19:29] mengxr opened #375 "Docker examples"
I followed the serving example at http://mleap-docs.combust.ml/mleap-serving/ but hit the following error when I tried to upload the model. I tried the latest (0.10.0, 0.11.0) docker images at https://hub.docker.com/r/combustml/mleap-serving/tags/ but neither worked. Verified that the model files were mounted inside the docker container.

[code]

[2018-06-20 15:20] akarsh3007 commented on #375
I came across the same issue, Could you please check when you serialize your Model, it was successfully serialized (it is wrapped by a Try method and returns success and failure.) After success, it returns a Bundle object which is Mleap Bundle. If there is an error in this step,  you will see the above error. Also, can you export the zip file of your model and see if it has bundle.json at root lev

[2018-06-20 15:24] mengxr commented on #375
It is the Airbnb model provided in that MLeap example. And I can load it using MLeap API directly. Just the serving layer doesn't work.

[2018-06-20 15:28] akarsh3007 commented on #375
Can you try it with mleap-serving:0.7 version, there was apparently some changes, I also tried to use the Airbnb model provided in the documentation, it worked with 0.7 version but was not working in the later versions.

[2018-06-20 15:30] mengxr commented on #375
I didn't try. Even it works with 0.7, we should still fix master or user guide.

[2018-06-20 15:33] akarsh3007 commented on #375
Yes, I agree on that point.

[2018-06-20 17:18] mengxr opened #376 "Java examples for scoring"
Many users can only use Java in a production environment. It would be nice if we can provide an example project for scoring in Java. I saw some Java interfaces at https://github.com/combust/mleap/tree/master/mleap-runtime/src/main/java/ml/combust/mleap/runtime/javadsl. But no public doc/example mentioned them.

[2018-06-23 07:05] cfespinoza commented on #373
+1

[2018-06-25 07:25] vikasvrm547 opened #377 "After loading Mleap bundle returning org.apache.spark.ml.PipelineModel object instead of ml.combust.mleap.runtime.frame.Transformer"
I am trying to use [mleap-xgboost-spark][1] library in my Java project and I am successfully able to train and save xgboost model.

In the below code I am trying to load the model back in memory so I can use it for prediction.
[code]
Unfortunately/weirdly, `loadResult.get().root()` returning `org.apache.spark.ml.PipelineModel` object instead of `ml.combust.mleap.runtime.frame.Transformer`. Also, a

[2018-06-27 12:54] ancasarb commented on #376
Hey @mengxr,

We'll work to add some examples in the doc, but for now, you can check out this toy project that shows how to use mleap-runtime within a spring boot Java service:
https://github.com/ancasarb/mleap-scoring-spring-boot

We're also working on some grpc and springboot scoring services in this branch that we'd like to merge soon: https://github.com/combust/mleap/tree/feature/mleap-grpc

L

[2018-07-02 20:27] mengxr opened #378 "Release shaded version of MLeap libraries"
MLeap comes with several Scala libraries as transitive dependencies. They might cause conflicts with other libraries installed. It would be nice if we could shade transitive dependencies in MLeap release.

[2018-07-02 20:28] mengxr opened #379 "Support Hadoop FileSystem in Spark model export"
MLeap model export supports "jar:file:/..." type URI. Spark users might want to use Hadoop FileSystem to export models to a shared storage. This is currently not supported, and it would be nice to support it natively. Note that the implementation can be done by saving to local temp directory first and then copy over.

[2018-07-03 17:34] lbustelo opened #380 "Add support for Spark's OneHotEncoderEstimator/Model"
At some point in Spark 2.3.x there was a re-write of the OneHotEncoder support to better fit the Pipeline model. MLeap currently does not support these new types.

Beware... the docs for Spark say that there will be another renaming of this transformer in Spark 3.0

[2018-07-05 04:46] Khiem-Tran commented on #374
I am also facing with this error recently when trying to dump a pipeline that contains StringIndexer.

[2018-07-05 16:40] akarsh3007 opened #381 "Add jars dynamically to Mleap Server"
Currently, If we write custom transformers we need to rebuild the mleap-serving docker container with the custom jars. It would be a great feature if we can add the jars dynamically or use sbt-native-packager and include mleap-serving as a dependency.

So essentially you could start the server with an option --mleap-jar https://example.com/my-assembly.jar

[2018-07-06 11:16] ancasarb commented on #310
PR merged, issue can be closed.

[2018-07-06 11:16] #310 closed

[2018-07-06 13:29] akarsh3007 commented on #381
@hollinwilkins can I take this issue?

[2018-07-06 13:58] ancasarb commented on #367
@donigian @MTDzi Yes, @ksoucy is right, we merged https://github.com/combust/mleap/pull/344 in order to make mleap scikit-learn work with python 3.

I'll try to get a new version of the package published to pypi so that you don't need to rebuild from source.

[2018-07-06 14:04] ancasarb commented on #341
PR to address this issue https://github.com/combust/mleap/pull/382

[2018-07-06 14:05] ancasarb commented on #372
PR to address this issue https://github.com/combust/mleap/pull/382

[2018-07-06 15:17] ancasarb commented on #374
@stefanm7 @Khiem-Tran I've picked up this issue, will keep you posted. Thanks for the issue report.

[2018-07-06 16:42] ancasarb commented on #375
@mengxr @akarsh3007 Could I please ask how you've downloaded the airbnb zip file? I just want to make sure you're not seeing the same issue as here (https://github.com/combust/mleap/issues/296), which can be resolved by just correcting the download url, because I've just issued load & transform requests using the docker images 0.8.1-SNAPSHOT, 0.9.0-SNAPSHOT, 0.10.0-SNAPSHOT, 0.11.0-SNAPSHOT withou

[2018-07-06 16:52] akarsh3007 commented on #375
@ancasarb We followed the steps from the [documentation](http://mleap-docs.combust.ml/mleap-serving/ ). We downloaded this [model]( https://github.com/combust/mleap/raw/master/mleap-benchmark/src/main/resources/models/airbnb.model.rf.zip) and followed the steps. This model seems to have the correct url which was resolved in issue (#296). But i have worked with my models and serialzed and loaded my

[2018-07-06 17:45] ancasarb commented on #375
Okay, I followed the same steps. It looks like it may not be an issue any longer then, I'll wait for @mengxr to confirm as well.

[2018-07-09 10:30] ancasarb commented on #374
Once merged, https://github.com/combust/mleap/pull/383 should fix this issue, thank you!

[2018-07-10 08:54] ancasarb commented on #374
Closing, as PRs has been merged to master.

[2018-07-10 08:54] #374 closed

[2018-07-18 17:29] henokyen commented on #303
I was trying to follow this demo
https://github.com/combust/mleap/wiki/Serializing-a-Spark-ML-Pipeline-and-Scoring-with-MLeap
but I run into this error
Failure(java.lang.IllegalArgumentException: struct already has field: x{})

which is caused by this peice of code:
val s = scala.io.Source.fromURL("file:////Users/henok.s.mengistu/Documents/projects/Synchrony/data/mnist.json").mkString
val bytes =

[2018-07-20 07:53] mohamed-ali commented on #292
[Spacy](https://github.com/explosion/spaCy) is also a good candidate for industrial NLP.

[2018-07-20 09:06] mleida-stratio opened #384 "Spark ML LinearSVC serialization Error"
Hi, I am migrating from version 0.7.0 to Version 0.10.2
I am using Spark 2.2.0 and a Python 3.5 kernel with Py4J 0.10.4
MLeap python package is 0.9.4

I have a set of python and scala notebooks that I use to test MLeap serialization and deserialization.
With the new version, the serialization of the Linear Support Vector Machine classifier is returning the following exception, while with the versi

[2018-07-24 14:13] singh-dhirendra opened #386 "Wrong predictions in Logistic regression Model"
Hi,

We have found that logistic regression is giving the wrong predictions in comparison to spark, The issue can be reproduced by the following parity test

[code]
Or by just chaning the threshold set in the existing LogisticRegressionParitySpec to 0.7

[code]

This is happening because of [probability2prediction](https://github.com/apache/spark/blob/v2.3.0/mllib/src/main/scala/org/apache/spark/m

[2018-07-25 09:21] singh-dhirendra commented on #386
created https://github.com/combust/mleap/pull/387 to fix it

[2018-08-01 19:13] mengxr opened #389 "Support spark.ml.tuning.CrossValidator and TrainValidationSplit"
Those two tuning methods are used by Spark MLlib users to tune hyperparameters. It would be great if MLeap can support exporting them. It should be okay if we only export the bestModel selected, which may be already supported by MLeap.

[2018-08-02 01:44] SrikantChari opened #390 "Failed to load class "org.slf4j.impl.StaticLoggerBinder"."
I am installing mleap from source. I have installed sbt version 0.13.9 with scala 2.10.5

Per instructions I cd in to mleap-master and the do an sbt compile. I get the following error

[code]

[2018-08-02 05:30] huafengw opened #391 "Try to avoid calling `Dataframe.head` to infer Vector's size"
Currently when translating a spark field to a mleap field, the first Row will be retrieved to infer the Vector size in a VectorUDT column. The problem is that it may be an expensive function call if the input Dataframe has lots of stages.

Sometimes the metadata of Vector column may contains the Vector size info so I think Mleap should first try to infer from that and make calling `Dataframe.head`

[2018-08-02 08:16] hollinwilkins commented on #386
@singh-dhirendra Thanks for the fix, closing this issue with the merge of your PR.

[2018-08-02 08:16] #386 closed

[2018-08-03 06:42] ancasarb commented on #372
closing this as PR has been merged.

[2018-08-03 06:42] #372 closed

[2018-08-03 06:43] ancasarb commented on #341
closing this as PR has been merged.

[2018-08-03 06:43] #341 closed

[2018-08-03 15:56] hollinwilkins commented on #391
Closing this with the merge of your PR

[2018-08-03 15:56] #391 closed

[2018-08-03 16:13] hollinwilkins opened #393 "There should be an assembly JAR for use with Databricks ML Runtime"
# Overview

[Databricks ML Runtime](https://docs.azuredatabricks.net/user-guide/clusters/mlruntime.html) supports Spark ML, TensorFrames and XGboost for training. MLeap is capable of exporting these models to an MLeap bundle for later use. In order to make this work consistently and avoid issues, we would like to package the required libraries into an assembly (AKA fat) jar with shaded dependencie

[2018-08-03 20:47] mengxr commented on #378
This is covered by #393

[2018-08-03 20:47] #378 closed

[2018-08-04 12:13] PowerToThePeople111 commented on #126
I ran into the same issue, but mainly because I want to reduce the size of the dataframe which is returned as a response by the mleap-serving service when asking it for a prediction.

Is there any mechanism to configure the service, so that only certain columns of the frame are returned, which makes sense if the dataframe containing all the features and base data is really big?

And if not, would

[2018-08-07 09:54] PowerToThePeople111 opened #395 "[Idea / Suggestion] Sharing the docker-file"
Hi guys,

I was wondering, if you could share the docker file which is used to define the docker image containing Mleap-Serving.

This way, people who adapt the serving module to their needs can quickly build the corresponding convenient docker containers.

Apart from that, I love your project! Makes going to production way easier. :-)

Best,
Björn

[2018-08-07 11:51] PowerToThePeople111 commented on #395
Ok. I did not realize that the whole Docker Image Creation is done via a plugin: https://www.scala-sbt.org/sbt-native-packager/formats/docker.html

Building it appropriately works as follows for all who are interested:

[code]

[2018-08-07 11:51] #395 closed

[2018-08-07 12:32] liaosimin commented on #374
how could I solved this problem?

[2018-08-07 13:37] gsiewe commented on #328
We upgraded to version 0.10.0 and the issue is still happening.
Any updates regarding this issue?

[2018-08-07 20:57] hollinwilkins commented on #389
*** Notes on this ***

This can be implemented using a `SimpleSparkOp` that delegates to the underlying model op to perform serialization to a subfolder called `best_model`.

The op name would be `cross_validator` and `train_validation_split`.

If we wanted to implement this where the underlying model ops are exposed instead of `cross_validator` and `train_validation_split`, we would have to add a

[2018-08-07 21:02] hollinwilkins commented on #379
*** Notes on this ****

We would want to introduce a `BundleFileSystem` trait that wraps file systems like Hadoop and S3 under the hood and allows us to perform operations using those file systems. We would make a BundleFile constructible using this `BundleFileSystem` trait, and before actually loading/saving the bundle file we would move the files to a temporary local file or upload a local model

[2018-08-08 02:11] liaosimin commented on #279
@hollinwilkins Do you have solved the bug?I meet the same exception:"unsupported attribute for field **"

[2018-08-08 04:31] somya12 opened #396 "Create custom transformers using pyspark"
Hi,

Is it possible to create custom transformers in pyspark using mleap?  This [doc](https://github.com/combust/mleap-docs/blob/master/faq.md) states that the pyspark support is yet to come. On the other hand, the [pyspark](https://github.com/combust/mleap-docs/blob/master/py-spark/index.md) documentation states that the support is already present. If custom transformers are support, can someone

[2018-08-08 13:28] andyliucoder commented on #367
Ran into this error, so I'm assuming a new version hasn't been published to pypi yet?

Just to be clear, line 90 of data.py needs to be changed to `class_name = self.__class__.__name__` (github formatting rendered the underscores in @ksoucy's answer.

[2018-08-09 15:19] gsiewe commented on #328
We upgraded to version 0.10.0 and the issue is still happening (check the stack trace
[stacktracet_version_0.10.0.txt](https://github.com/combust/mleap/files/2274708/stacktracet_version_0.10.0.txt)).

We had a closer look at what is happening when we call the method ml.combust.mleap.runtime.frame.Transformer#transform and we could see that the class ml.combust.mleap.core.ann.FeedForwardModel and s

[2018-08-09 16:50] hollinwilkins commented on #328
@gsiewe Thank you for digging into this issue, great find. Can you submit a PR with the changes?

[2018-08-09 17:52] vegoutha opened #397 "Save to MLEAP bundle is failing for Spark 2.3 model - Logistic Regiression"
Save to mleap bundle is failing for Spark model created in 2.3 with below error message.
[code]

`MLEAP Version`: 0.10.0

`Spark version`: 2.3

Code Snippet:
[code]

I have tried to add the below configuration in application.conf and still see the same error message:
[code]

The same code and configuration was working for Spark 2.1 and 2.3 models.
Could you please let me know do I need to specify

[2018-08-10 06:02] hollinwilkins commented on #397
This issue is usually due to:
1. Class loader issues, make sure the reference.conf files from MLeap are in the classpath
2. The assembly JAR you are building is dropping content from the reference.conf files from MLeap

[2018-08-10 08:01] liaosimin commented on #178
Do you have solved the problem?I meet the same error.

[2018-08-10 11:33] gsiewe commented on #328
ok i will submit a PR.

[2018-08-10 12:27] wuxianxingkong opened #400 "How to serialize model to HDFS?"
In documentation, it seems mleap only support save model to local file system, is there any way save to HDFS?

[2018-08-13 07:59] gsiewe commented on #328
Hi @hollinwilkins,

i submit the pull request. Can you may be check it.

[2018-08-13 10:10] vegoutha commented on #397
@hollinwilkins I am using other dependency using MLEAP 0.7.0 and it having conflict with MLEAP 0.10.0. Now issue is resolved. Thank you.

[2018-08-13 10:10] #397 closed

[2018-08-14 20:46] emotecontrol commented on #178
I'm getting a similar error, and when I call `.tried` on the `ExtractableManagedResource[Bundle[Transformer]]` I get:

`Failure(java.util.NoSuchElementException: key not found: num_classes)`

I haven't been able to get to the bottom of it yet.

[2018-08-14 23:33] sarchak commented on #373
+1

[2018-08-18 19:48] hollinwilkins commented on #400
@wuxianxingkong Currently the recommended way to accomplish this is to first save the file locally, then move it to hadoop as a separate step.

There is a ticket currently to handle support for doing this in one step: https://github.com/combust/mleap/issues/379

[2018-08-19 02:05] hollinwilkins commented on #126
@PowerToThePeople111 Hey, we are about to merge this branch in which will make the existing mleap-serving obsolete: https://github.com/combust/mleap/tree/feature/mleap-grpc

With each transform request, we introduce a TransformOptions object, which includes the ability to filter down to only the fields you care about in the result. I am writing up documentation for this right now.

[2018-08-21 12:49] clocklear commented on #380
I'll take this issue.  It's pretty straightforward; sorry I overlooked this addition when I performed the upgrade to 2.3.

[2018-08-23 18:41] rock626 opened #410 "Compile error while using pipelinemodel.writebundle"
Hi,
i am trying to use mleap with spark and export the model.Followed the steps [https://github.com/combust/mleap/wiki/Serializing-a-Spark-ML-Pipeline-and-Scoring-with-MLeap](Mleap wiki).
Observed the following error
[code]

[2018-08-23 18:41] rock626 commented on #410
these are the versions i used in sbt file

`scalaVersion := "2.11.1"

libraryDependencies += "org.apache.spark" %% "spark-sql" % "2.3.1"
libraryDependencies += "ml.combust.mleap" %% "mleap-runtime" % "0.9.0"
libraryDependencies += "ml.combust.mleap" %% "mleap-spark" % "0.9.0"
libraryDependencies += "ml.combust.mleap" %% "mleap-spark-extension" % "0.9.0"
libraryDependencies += "org.apache.spark" %%

[2018-08-23 18:42] hollinwilkins commented on #410
Follow instructions here: http://mleap-docs.combust.ml/spark/
Make sure to:

[code]

[2018-08-23 21:14] rock626 commented on #410
thanks..adding import statement worked.

[2018-08-23 22:46] rock626 commented on #410
@hollinwilkins could you also provide reference links/wiki on how to serving this saved model in java?

[2018-08-25 21:09] hollinwilkins opened #411 "Encode regex options in RegexIndexer to make regexes more generic"
Currently options such as case-insensitivity are encoded using Java syntax.
For instance, a case-insensitive match for "HELLO" would be `(?i)HELLO`.

Instead of encoding these options in the regex itself, encode them as flags on the OpModel for each regex.

[2018-08-27 04:13] lgongms opened #412 "failed to serialize a Spark pipeline to a Protobuf-based zip file"
I was able to serialize a Spark pipeline to a JSON-based zip file ([adult_census_pipeline_json.zip](https://github.com/combust/mleap/files/2322376/adult_census_pipeline_json.zip)) but not to a Protobuf-based zip file (with the following error).  Any idea?  Thanks!

(for(modelFile <- managed(BundleFile("jar:file:/dbfs/FileStore/adult_census_pipeline_protobuf.zip"))) yield {
  model.writeBundle.form

[2018-08-27 23:06] tovbinm opened #413 "In-memory conversion of Spark Transformer -> Bundle[Transformer]"
Howdy,

Is there a simple way having an instance of Spark `Transformer` convert it into `Bundle[ml.combust.mleap.runtime.frame.Transformer]` in memory without passing through files? Example:

[code]

[2018-08-29 16:47] hollinwilkins commented on #379
PR open for this now: https://github.com/combust/mleap/pull/415
Just a few items left to complete

[2018-08-29 22:35] hollinwilkins commented on #413
@tovbinm This is an interesting use case. I think people have used in-memory nio FileSystem implementations to accomplish similar things in the past. The issue with this is that some data structures, such as decision trees, are serialized directly to a file to avoid large, duplicated in-memory structures.

What is the reason you want to do this in the first place? Would be interesting to know.

[2018-08-29 22:56] tovbinm commented on #413
I am trying to use mleap runtime, but avoid redoing the serilization of models ;) Right now we leverage vanilla Spark json + parquet serialization.
So for serving I would like to load the Spark model, covert it into mleap format in memory and server scores.

[2018-09-04 09:01] lie-yan commented on #172
I encountered a similar problem. The error message is as follows.

[code]

When I run my script, an exception is raised at the statement:
[code]

Here is my script.
[code]

[2018-09-04 09:03] lie-yan commented on #343
I encountered a similar problem. The error message is as follows.

[code]

When I run my script, an exception is raised at the statement:
[code]

Here is my script.
[code]

[2018-09-12 03:19] kiranchitturi opened #418 "ClassCastException on spark PipelineModel created from loadSparkBundle"
Hi,

Props to the creators and maintainers of the mleap library. I have used it for run time and it's serving speed is blazing fast. I ran in to one error while implementing mleap library for our usecase

We have a logistic regression model that was serialized as a mleap bundle and I created spark `PipelineModel` from the bundle file using `.loadSparkBundle().get.root`.

However, the `transform` o

[2018-09-12 09:01] MeiSign commented on #170
I think it is worth to note that there are helper methods now to convert from Spark Dataframe to Mleap StructType. This is a common usecase for testing purposes and this issue is one of the first hits by google if you search for spark to mleap dataframe conversion.

https://github.com/combust/mleap/blob/master/mleap-spark-base/src/main/scala/org/apache/spark/sql/mleap/TypeConverters.scala#L86

[2018-09-17 14:23] tcoatale opened #419 "StringIndexer Mleap Serialization Broken with Spark 2.3.x"
It is no longer possible to export a string indexer from mleap to spark 2.3.

The following sequence of operations fails
[code]
with the following stacktrace:
[code]

The issue likely comes from the discrepancy between the spark and mleap ops for the string indexer.

We can see that the spark op [(StringIndexerOpV23)](https://github.com/combust/mleap/blob/master/mleap-spark/src/main/scala/org/apac

[2018-09-18 07:09] AashimaYuthika opened #420 "Unable to save serialized model to HDFS"
I have written a basic script with pyspark for writing a serialized model to HDFS. Here's the code:
[code]
Running it on a Yarn Cluster like this
`spark-submit --master yarn --deploy-mode cluster --conf spark.yarn.appMasterEnv.PYTHON_EGG_CACHE="/tmp/.cache/" --py-files mleap-0.11.0.dev0-py2.7.egg --jars mleap-spark-base_2.11-0.11.0.jar,mleap-spark_2.11-0.11.0.jar --packages ml.combust.mleap:mleap-

[2018-09-18 21:32] dat-vikash commented on #367
ran into this issue as well ... any updates on when this will be pypi?

[2018-09-19 04:55] hollinwilkins commented on #419
We need to make string_order_type optional in the mleap-runtime op as it's not always available.

[2018-09-19 06:57] ancasarb commented on #419
In the mleap-runtime op, we ignore string_order_type, as it's only used during fitting and has no impact at scoring time.

The stringOrderType should always be serialized by the StringIndexerOpV23 (it has a default value of 'frequencyDesc') but it's not happening, even though we're running it with Spark 2.3.0. It's not serialized even when provided explicitly.

[code]

The odd part is that in our

[2018-09-19 07:07] ancasarb commented on #419
Ah, I understand what's going on now. The example serializes the spark bundle, loads the mleap bundle, serialized the mleap bundle and then tries to load the spark bundle, so in the process we've lost the stringOrderType.

Will be raising a PR shortly.

[2018-09-22 14:29] priyeshkap commented on #343
@cappaberra thanks for your comment. I'm not getting this error anymore with MLeap v0.10.0. @nathanaelmouterde and I are using Spark v2.3.

[2018-09-26 06:04] samikrc opened #423 "Add serialization of LinearSVC model"
When trying to save a bundle for a pipeline with quite a few steps, I get the following message: `An exception or error caused a run to abort: key not found: org.apache.spark.ml.classification.LinearSVCModel`
I am using Spark 2.3.1 and mleap 0.10.0 with Scala 2.11.8.

The complete code can be found here: [https://github.com/samikrc/try-mleap/blob/master/src/test/scala/com/tfs/test/MleapPipelineTes

[2018-09-26 15:30] PowerToThePeople111 opened #424 "Question: How to extend DefaultLeapFrames with new operations"
Hi,

i am currently working on an extension of the `DefaultLeapFrame` class. I want to give it 3 operations which I think would help several people to get things rolling: explode, implode and join. I do this to be able to join additional information to data which is sent to the serving rest-server for predictions which can then be used to create new features that are needed for my pipeline.

I hav

[2018-09-27 08:39] NetanelRabinowitz opened #425 "missing or invalid dependency detected when building from source and using the jars"
I built the project from source via abt package. dragged the following snapshot jars into the lib library
[code]

this is a new project with a single file running scala version 2.11.8

[code]
 and I got the following error:
[info] Compiling 1 Scala source to /private/tmp/stam/target/scala-2.11/classes ...
[error] missing or invalid dependency detected while loading class file 'SimpleSparkSerialize

[2018-09-27 16:20] NetanelRabinowitz commented on #425
I was missing the runtime jar that actually contains the `bundle` symbol.
I added it and it seems to compile and run just fine.. thanks anyway

[2018-10-01 12:15] PowerToThePeople111 commented on #424
Ok, I have implemented the operations for the `DefaultLeapFrame` and an additional subclass for it in form of the `HashIndexedLeapFrame` (which allows for creating in-memory indexes in order to speed up join operations). I also added some tests to it to the `LeapFrameSpec.scala`.

If you would like to add those changes to the project, I would push them.

[2018-10-02 16:08] samikrc commented on #423
Hi: any update on this?

[2018-10-03 10:39] benoua commented on #354
I have the same issue working with Pyspark 2.3.0. mleap-spark-extension are not available in python from what I saw.

[2018-10-05 06:21] vegoutha opened #427 "MLEAP conversion of Spark 2.1 model is failing using MLEAP 0.10.2"
I have updated the MLEAP runtime from 0.7.0 to 0.10.0.  MLEAP conversion of Spark 2.1 model is failing using this updated mleap library.

`MLEAP Runtime`: 0.10.2

Here is code snippet to create Spark Model:
[code]

Below is the error message observed during the MLEAP conversion of Spark 2.1 model:
[code]

The same model was working fine using MLEAP 0.7.0. Please have a look at this issue.

[2018-10-05 06:29] vegoutha opened #428 "MLEAP conversion of Spark 2.1 transformer is failing using MLEAP 0.10.2"
I have updated the MLEAP runtime from 0.7.0 to 0.10.0. MLEAP conversion of Spark 2.1 transformer is failing using this updated mleap library.

MLEAP Runtime: 0.10.2

Here is code snippet to create Spark Model:
[code]

Below is the error message observed during the MLEAP conversion of Spark 2.1 model:
[code]

[2018-10-05 06:31] vegoutha commented on #428
The above transformer was working fine using MLEAP runtime 0.7.0. Please have a look at above issue.

[2018-10-05 20:05] iamontheinet opened #429 "Example where the target/label is *not* included in the pipeline to be exported"
Hi!

I am looking for a working example that shows how to exclude the target/label to be predicted from the pipeline being exported to the MLeap bundle.

Thanks in advance!
Dash

[2018-10-06 16:40] mingmasplace opened #430 "MLeap's value for sklearn"
MLeap solves the single-request low latency prediction problem for Spark pipeline. Quick test shows sklearn native pipeline.predict has pretty good latency < 3ms(sure it depends on the number of transforms). So why would people want to migrate the existing sklearn online prediction to MLeap? Thanks.

[2018-10-08 08:04] ancasarb commented on #430
In our use case, we had to support model building/training not just in scikit-learn, but also in Spark and Tensorflow, so MLeap helped in this case, because at scoring time, you need to worry about monitoring and scalability of a single model scoring service. At the same time, with MLeap we expose a unified scoring interface, so clients which integrate with the scoring service don't need to know/w

[2018-10-08 14:11] PowerToThePeople111 commented on #429
Hey Dash,

I guess you run into the problem of your final mleap pipeline expecting the label to be part of your dataframe which you want to classify. This can easily be avoided by creating the final label you use to train your classifier outside of the pipeline (before) that you export with Mleap.

Best

[2018-10-08 17:39] mingmasplace commented on #430
Thanks Anca. So MLeap not only solves the latency issue with Spark, but also provides an unified online scoring service that is model-building ML framework agnostic. Still it isn't clear why that is a problem.

* TF provides lots of DNN algorithms. Are you going to implement those in MLeap to get rid of the online scoring dependency on TF? If not, The scoring service will still have dependency on

[2018-10-09 00:31] iamontheinet commented on #429
@PowerToThePeople111 Thanks for your response. Do you happen to know of any working examples that I can refer to? Cheers!

[2018-10-09 06:52] PowerToThePeople111 commented on #429
I have written my own and it works, but the code is not really suitable for a simple and good example - regardless of the data that they depend on. You can basically go with any of the following notebooks I guess: https://github.com/combust/mleap-demo

I hope that helps. :)

[2018-10-09 10:24] Ajaysingodia opened #432 "The request content was malformed: Expected String as JsString, but got 4.11"
**curl -XPOST -H "accept: application/json" -H "content-type: application/json" -d @test.json http://localhost:65327/transform**
The request content was malformed:
Expected String as JsString, but got 4.11

[2018-10-09 19:19] vatodorov opened #434 "Unable to deserialize in Spark a bundle that was created in Python"
I successfully created an MLeap bundle in Python, but when I try to deserialize it in Spark, I get the error below. The Python and Spark scripts I used to serialize/deserialize the model are pasted here.

Can you suggest how to modify the deserialization script in Spark to make it work? Thanks!

I have Spark 2.2.1 with Hadoop 2.6 and Scala 2.11

[code]

This is how I start the Spark shell
` ./spar

[2018-10-10 08:25] #419 closed, assigned to ancasarb

[2018-10-11 09:49] PowerToThePeople111 commented on #170
I tried to convert a dataframe created in spark to one that can be used in Mleap and persist it. Using `TypeConverters.sparkSchemaToMleapSchema()` does not work tho.

An example:
[code]

Leads to:
[code]

Ersetze ich die Schemadefinition allerdings durch:
`val mleapSchema = StructType(StructField("aList", TensorType(BasicType.Int))).get`

... dann funktioniert alles. Vielleicht benutze ich es ja a

[2018-10-11 10:43] PowerToThePeople111 commented on #170
As an addition to MeiSign's post: this code snippet converts a special kind of dataframe (containing List types).
[code]

If you only use basic data, you can actually just do:
[code]

[2018-10-11 15:19] PowerToThePeople111 commented on #434
The reason, why you get the scala match error is because in contrast to spark, you do NOT save and load the bundle by referencing the directory it lies in, but the file itself.

Replace `'/path/to/bundle/'`with `'/path/to/bundle/model.zip'` and load it accordingly. That should help. :-)

[2018-10-14 21:41] lhsalud commented on #270
@fatihtekin May I ask which libraries and versions you installed that enabled you to use this xgboost mleap extension code above?  This would be most helpful.   Much appreciated.

[2018-10-15 23:38] paulochf commented on #172
I beg your pardon. I didn't find the answer in the docs.

What for the transformed dataset while serializing the model?

[2018-10-17 20:01] paulochf commented on #434
I'm also having the same problem, but I'm in a slightly different case from @vatodorov: I created a model using pyspark, and want to load it in pyspark also.

One more thing is I'm in a Databricks environment. I followed [their instructions about the packages installation](https://docs.databricks.com/_static/notebooks/mleap-model-export-demo-python.html) (because [this one](http://mleap-docs.combu

[2018-10-19 15:39] vatodorov commented on #434
@paulochf I haven't used MLeap with PySpark and cannot comment on this. One note though, in the example where you call `PipelineModel.deserializeFromBundle` on the bundle, did you first import MLeap? I dont' see it in the code snippet you've posted.

[2018-10-19 17:06] paulochf commented on #434
Did you mean

[code]
?

Actually, I was doing so. I just didn't paste in my example. Sorry about that.

I don't know what was causing the problem, but I just got it fixed by reinstalling the Maven packages.

[2018-10-23 14:11] RaghavendraSingh commented on #343
@lie-yan I am getting the same error, were you able to find a resolution for it?
I am running with mleap v0.12.0 with spark 2.3.1

`  File "/tmp/hadoop-root/nm-local-dir/usercache/root/appcache/application_1539093246812_0349/container_1539093246812_0349_01_000001/mleap.zip/mleap/pyspark/spark_support.py", line 25, in serializeToBundle
  File "/tmp/hadoop-root/nm-local-dir/usercache/root/appcache/a

[2018-10-25 21:27] ayirpil opened #436 "Transformed data access"
On standard mnist prediction output(char 7 actually) tranformed frame output, what do the 6.0, 9.0 match? How can I get to the DenseTemnsor itself? My hunch is whatever correcponds to 7 in that DenseTensor will have non zero output.

 val data = transformed_frame.get.dataset
data: Seq[ml.combust.mleap.runtime.frame.Row] = List(Row(0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

[2018-10-25 21:41] jasleen1291 opened #437 "Build on Master failing"
HI i was trying to build master locally using
`sbt compile` but get the following stack trace

[code]
Please help me in pointing to what i am doing wrong

[2018-10-25 21:52] jasleen1291 commented on #437
Actually solved this by separately cloning the bundle-protobuf- specifically the commit the link points too

[2018-10-25 21:52] #437 closed

[2018-10-30 07:35] cchung100m opened #439 "error: object bundle is not a member of package ml.combust"
Hi all,
I am a newbie to mleap and try to reproduce [the tutorial of "Create and Export a Spark Pipeline"](https://github.com/combust/mleap) but I encounter the stumbling block when importing the related packages with Spark-shell as below, can you share some tips for the problem?

Many thanks.

System infromation:
OS: CentOS Linux release 7.4.1708
Spark version:   2.3.0.2.6.5.0-292
Scala version:

[2018-10-31 10:43] vegoutha commented on #427
@hollinwilkins Could you please the above MLEAP conversion of Spark 2.1 model using MLEAP 0.10.2 library ?

[2018-10-31 10:43] vegoutha commented on #428
@hollinwilkins Could you please check the above MLEAP conversion of Spark 2.1 model using MLEAP 0.10.2 library ?

[2018-11-02 14:07] bleskowsky opened #441 "Unable to load persisted PipelineModel containing mleap Imputer: Column imputeValue must be old Vector type to be converted to new type but got DoubleType"
We've been experiencing this issue when trying to load a saved PipelineModel that contains the mleap Imputer implementation as one of its stages. I have a simplified program here that replicates the issue on my local environment. This is using **Spark 2.3.0** and **mleap 0.12.0**.

Sample program:
[code]
The input training data looks as follows:
[code]
This is a very tiny sample of a column in our

[2018-11-05 07:35] cchung100m opened #442 "java.lang.NoClassDefFoundError: ml/combust/bundle/HasBundleRegistry"
Hi all,

Doing the official tutorial of ["Create and Export a Spark Pipeline"](https://github.com/combust/mleap), I encounter the classNoFound issue **ml/combust/bundle/HasBundleRegistry** when I am trying to transform the pipeline, however I am sure that I download the related packages from maven repo, can you share the experience on solving this kind of problem, thank you.

System infromation:

[2018-11-05 23:57] mailming commented on #360
Half year passed, is there any other solution or progress on this?

[2018-11-06 02:23] cchung100m opened #443 "error: object OneHotEncoder is not a member of package org.apache.spark.ml.mleap.feature"
Hi all,
I am doing the official tutorial [mleap-demo](https://github.com/combust/mleap-demo/blob/master/notebooks/airbnb-price-regression.ipynb) but I encounter the import failed issue as below,  I am sure that I had already added the related packages from maven repo, can you share the experience on solving this kind of problem? Thank you.

System infromation:

[code]

[2018-11-06 06:56] cchung100m commented on #442
Hi all,

I got the same error "java.lang.NoClassDefFoundError: ml/combust/bundle/HasBundleRegistry" even though I changed the version of bundle-ml package, can you help to share some tips for this? thanks.

`./spark-shell --packages ml.combust.mleap:mleap-spark_2.11:0.12.0,ml.combust.mleap:mleap-spark-extension_2.11:0.12.0,ml.combust.mleap:mleap-runtime_2.11:0.12.0,ml.combust.bundle:bundle-ml_2.11

[2018-11-07 09:16] turkeymz opened #444 "TypeError: 'JavaPackage' object is not callable"
I meet a error when I execute fittedPipeline.serializeToBundle("jar:file:D:/pyspark.example.zip", fittedPipeline.transform(df2)).
The error message is :
TypeError                                 Traceback (most recent call last)
<ipython-input-7-552aa2772b30> in <module>()
      1 # Serialize to zip file (JSON format)
----> 2 fittedPipeline.serializeToBundle("jar:file:/tmp/pyspark.example.zip", fi

[2018-11-07 19:30] FredYao opened #445 "Compatibility with Scala 2.12"
Spark has released a new version 2.4.0, which is compiled through Scala 2.12. I am wondering if there is any plan or roadmap for Mleap to support Scala 2.12 ? Thanks!

[2018-11-08 07:15] turkeymz commented on #444
I have solved this issue. Just add some jars in spark.I think the document needs to add instructions to spark's changes.
Jars List:
![image](https://user-images.githubusercontent.com/7101412/48183285-29f82680-e369-11e8-9584-778b3ca0edd4.png)

[2018-11-08 07:17] turkeymz commented on #444
@hollinwilkins

[2018-11-08 07:17] #444 closed

[2018-11-16 02:17] falaki opened #448 "Breaking API change(s) in xgboost4j 0.81"
XGBoost4j v0.81 includes this commit https://github.com/dmlc/xgboost/pull/3602 which changes the return type of `BoosterParams.getTreeLimit()` from `double` to `int`. This breaks model serialization because of [this line](https://github.com/combust/mleap/blob/master/mleap-xgboost-spark/src/main/scala/ml/dmlc/xgboost4j/scala/spark/mleap/XGBoostClassificationModelOp.scala#L40:)
[code]

* I have not

[2018-11-16 03:07] cchung100m commented on #448
Hi falaki,
PR #447 already identified the change of XGBoost 0.81 and the enhancement will be merged soon.

[2018-11-16 18:20] falaki commented on #448
Thanks @calinrc. Have you tested #447 with xgboost v0.80? It seems to me we will fail that version. Is that patch going to be merged into version 0.13?

[2018-11-19 11:04] ancasarb commented on #443
in Spark 2.3, you can use org.apache.spark.ml.feature.OneHotEncoderEstimator instead. OneHotEncoder will be removed in future Spark versions.

[2018-11-19 11:53] ancasarb commented on #380
Closing this as support for this was added in the PR merged above.

[2018-11-19 11:53] #380 closed

[2018-11-22 00:31] RayTsui commented on #443
@ancasarb Hi, actually I came cross this issue and have a question about OneHotEncoder/OneHotEncoderEstimator, which is, based on #220 and #443, how to distinguish the use of org.apache.spark.ml.feature.OneHotEncoderEstimator and org.apache.spark.ml.mleap.feature.OneHotEncoder. Because I use spark 2.3, there is no org.apache.spark.ml.mleap.feature.OneHotEncoder api, that means for spark before 2.3

[2018-11-22 08:34] jacksu opened #450 "Does dataframe of mleap preprocessing support sql?"
Hi,

Like lending_club Demo.

In Offline, we process data as follow:

val datasetFnl = spark.sqlContext.sql(f"""
    select
        loan_amount,
        fico_score_group_fnl,
        case when dti >= 10.0
            then 10.0
            else dti
        end as dti,
        emp_length,
        case when state in ('CA', 'NY', 'MN', 'IL', 'FL', 'WA', 'MA', 'TX', 'GA', 'OH', 'NJ', 'VA', 'MI')

[2018-11-22 13:36] ancasarb commented on #450
Hi @jacksu,

SQL transformer isn't supported in MLeap, mostly because they could contain column based transformations (e.g. group by).

What you can do is create custom transformers for the two case statements below, which you can use for training as well as scoring.

```case when dti >= 10.0 then 10.0 else dti```
``` case when state in ('CA', 'NY', 'MN', 'IL', 'FL', 'WA', 'MA', 'TX', 'GA', 'OH',

[2018-11-22 13:44] ancasarb commented on #443
Yes, so for Spark pre 2.3 you would use the ```org.apache.spark.ml.mleap.feature.OneHotEncoder``` transformer, and for Spark 2.3 you would use ```org.apache.spark.ml.feature.OneHotEncoderEstimator```.

Just to let you know, starting 0.12.0, MLeap versions are tied to specific Spark versions, you can find more details here https://github.com/combust/mleap under "MLeap/Spark Version".

[2018-11-23 01:09] jacksu commented on #450
Hi @ancasarb

I know, thanks.

[2018-11-23 17:54] RayTsui opened #451 "General Questions about mleap API"
@hollinwilkins I just reviewed the docs of mleap, and I have few questions about the utilization of mleap api and roadmap as follows:
1) during storage of leap frame into json/arvo at the linked http://mleap-docs.combust.ml/mleap-runtime/storing.html, for the following code,
val frame = DefaultLeapFrame(schema, dataset)
for(bytes <- frame.writer("ml.combust.mleap.json").toBytes();
    frame2 <- Fr

[2018-11-24 05:35] RayTsui commented on #395
@PowerToThePeople111
Hi, actually, I have the same concern as you, that whether or not we can have mleap-serving image. As you closed the issue, I suppose you have figured it out how to get it.

Based on your above description, I still cannot know how to build image, can you please say a little more on it. Thanks a lot.

[2018-11-24 09:06] wguo123 commented on #172
Got same error as described above. Can DBX have someone take a look?

----> 1 pipelineModel.serializeToBundle("jar:file:/tmp/gbt_v1.zip", predictions.limit(0))

/databricks/python/lib/python3.5/site-packages/mleap/pyspark/spark_support.py in serializeToBundle(self, path, dataset)
     22
     23 def serializeToBundle(self, path, dataset=None):
---> 24     serializer = SimpleSparkSerializer()

[2018-11-24 23:54] wguo123 opened #452 "Error during processing of request: 'bundle.json'. Completing with 500 Internal Server Error response"
Hi, can someone let me know how to solve this issue? I do have a bundle.json in my model.zip file.

:~/tmp/models$ curl -XPUT -H "content-type: application/json" -d '{"path":"/models/gbt_v1.zip"}' http://localhost:65327/model
[ERROR] [11/24/2018 23:51:08.467] [MleapServing-akka.actor.default-dispatcher-5] [MleapResource] error with request
java.nio.file.NoSuchFileException: bundle.json
        at

[2018-11-27 12:10] balauppalapati commented on #418
Hi @kiranchitturi , I am facing similar issue. Were you able to find a fix for this ?

[2018-11-27 21:34] RayTsui commented on #452
Hi, I think when you create bundle.ml, the resulting .zip is missing bundle.json. I suppose you can check your code on final part, or read the reference http://mleap-docs.combust.ml/troubleshooting.html, which can help to create a complete bundle.ml .zip package.

[2018-11-29 17:07] orchidmajumder commented on #376
Amazon SageMaker has also developed a fully Java based serving setup powered by `mleap-runtime`. You can find the code here - https://github.com/aws/sagemaker-sparkml-serving-container.

MLeap provided Java interface is nice and it didn't require us to write any Scala code (barring the use of `JavaConverters` from Scala library) while developing this.

[2018-11-30 00:58] RayTsui commented on #451
Hi @ancasarb according to the #245 , is there any plan for serving multiple models right now, I mean if the 0.13.0 releases serving multiple models. Thanks a lot.

[2018-12-04 02:07] marsbible commented on #360
Any updates on this? Scala 2.11  is no longer actively maintained.

[2018-12-04 02:21] #443 closed

[2018-12-04 06:43] FredYao opened #454 "Save MLeap models on HDFS"
I was trying to serialize a trained model onto HDFS:
model.writeBundle.save(new URI("hdfs:///dummy/path/model"))
By default, the saved file is in zip format.
Is there a way to save the model into a folder (i.e., directory) onto HDFS, instead of a zip format?

[2018-12-04 17:03] tcoatale opened #455 "Deserialization of Linear Regression Broken for Spark 2.3"
It is no longer possible to use a linear regression model having been serialized and then deserialized using mleap in spark 2.3.

The following sequence of operations fails

[code]
with the following stacktrace:
[code]

In Spark 2.3.0, a new param was introduced: loss. When using a `LinearRegressionModel`'s method `transform`, the method validateAndTransformSchema checks the compatibility between

[2018-12-04 18:02] ganeshkrishnan1 commented on #245
Do we support loading multiple models now? Or is the easiest way loading multiple docker containers each with it's own model?

[2018-12-05 16:31] Neiraj commented on #375
1) Make sure your Volume is mounted correctly
2) Make sure to call the API to Load the Model before running Transform

I tried with Snapshot 0.9.0-snapshot, and it works fine.
as a note i did host the Docker Image on Kubernetes!

[2018-12-06 22:50] wzhe06 opened #456 "Create DenseTensor in Java"
These is one field which type is tensor in LeapFrame schema. So I need to create a DenseTensor in Java(my api server is written in Java) as one field of LeapFrame input for my model.
But I found it's not possible to create a DenseTensor in Java through a convenient way.

After I create a DenseTensor like this
`new DenseTensor(userEmbedding, support.createTensorDimensions(dims).get(), scala.reflect

[2018-12-07 09:17] angelpuerto opened #457 "[Question] Tensor with base String, TensorSerializer question."
Hello:

I'm traying to export and import a model with a Tensor with basictype String. It does not work. It could by my fault or it could be the method toProto of TensorSerializer. When you indicate String like basictype it converts the basictype to Double. It does the same with ByteString basictype.

[code]
When I review the method fromProto I see that it uses the correct base types:
[code]
Is the

[2018-12-10 09:30] PowerToThePeople111 commented on #395
@RayTsui Hi, sorry for my late answer, but I have been on holidays and did not check mails. If you follow the instructions above, go to `mleap-serving/target/docker` and you will find what you are looking for.

[2018-12-10 10:03] ancasarb commented on #457
Thanks @angelpuerto for the bug find, I have raised https://github.com/combust/mleap/pull/460 to fix it.

[2018-12-10 10:05] ancasarb commented on #456
@wzhe06 I have raised https://github.com/combust/mleap/pull/459 to make it possible to pass dense/sparse vectors when creating rows in Java, which are then translated to tensors.

[2018-12-10 18:00] RayTsui commented on #395
Hi @PowerToThePeople111 , thanks for your response. Basically, I've figured it out via online sbt manual docs, although the doc is a little more to read.

[2018-12-12 17:51] tcoatale commented on #455
Hi, any update on this issue?

[2018-12-18 15:49] jasleen1291 opened #461 "Latest pip version"
Is there a plan to update mleap to the latest version on pypi- I can stil see 0.8 version over there?  https://pypi.org/project/mleap/#history

[2018-12-19 09:36] marsbible opened #462 "java.lang.ClassCastException: java.math.BigDecimal cannot be cast to scala.math.BigDecimal"
Hi team,
  I tried to run notebook https://github.com/combust/mleap-demo/blob/master/notebooks/airbnb-price-regression.ipynb on the latest mleap version 0.13, it failed when i execute "sparkDataframe.select("bedrooms", "bathrooms", "price", "price_prediction").show(10)", is this a bug?

--------------------------------------log-----------------------------------------------------------------------

[2018-12-19 13:42] ancasarb commented on #457
Closing this, as 0.13.0 mleap version contains the fix for this.

[2018-12-19 13:42] #457 closed

[2018-12-22 17:54] neilsummers opened #464 "Logistic Regression prediction probabilities"
Currently sklearn logistic classifier only supports predictions.

https://github.com/neilsummers/mleap/blob/master/python/mleap/sklearn/logistic.py
[code]

Want to be able to access the probabilities from the classifier too.
This is already supported in the MLeap logistic model. Just need to add the appropriate outputs. I will create a PR with the change we made to access this for our own producti

[2018-12-28 11:25] femibyte opened #466 "Schema for converting a PySpark Dataframe into a LeapFrame"
I'm creating a schema from a Pyspark dataframe that can be used to build a corresponding
Leapframe. My question is, how do I handle non-scalar types i.e. arrays ?

My schema looks like this.

[code]

If the Pyspark dataframe consisted of purely scalar columns, I would do the following:

[code]
Any suggestions are welcome.

[2019-01-02 22:52] femibyte commented on #396
Same issue here. Any word ?

[2019-01-07 12:23] Excessionist commented on #455
I am stuck with the same problem. In my case, I have an old model which is almost impossible to rebuild, but which now no longer works. I am at a total loss of what to do to fix it.

[2019-01-08 03:01] Khiem-Tran opened #467 "API document for mleap-serving 1.13.0"
It seems from release 1.13.0, the mleap-serving API was changed without official document. I found a document [here](https://github.com/combust/mleap/blob/master/mleap-spring-boot/src/main/resources/mleap_serving_1.0.0_swagger.yaml) but not success when testing

Here is my steps:
[code]

Anything else that I can test?

<img width="1420" alt="screen shot 2019-01-08 at 10 40 51 am" src="https://user

[2019-01-08 06:51] Khiem-Tran opened #468 "Health check for mleap-serving"
I have been looking for a health-check endpoint for mleap-serving because it is required for most of deployment processes in my team. Since it is still missing, I have created a PR for that https://github.com/combust/mleap/pull/469

[2019-01-08 08:40] siyouhe666 opened #470 "An issue about the version of python-mleap"
Hello,
i want to install mleap which version>=0.11.0,but i cant find it on pypi or github source. I have used pip install mleap but it only can find 0.8.1, and install through github/python only can find 0.11.0.dev. Please help me.
note:the issue is in python environment.

[2019-01-08 10:22] holysoros opened #471 "xgboost runtime transform bad performance"
In our news CTR prediction scenario, we use xgboost to predict leaves then feed LogisticRegression as feature. The batch size is 1000 news candidates.

But mleap xgboost transformer perform much slower than raw xgboost scala library(x10~20 slower). I think there are two reasons:

- mleap xgboost transformer transform row by row, raw xgboost library can predict 1000 candidates at once with DMatrix

[2019-01-08 16:36] ancasarb commented on #467
@Khiem-Tran I am working on updating the docs here http://mleap-docs.combust.ml/mleap-serving/ but in the meantime, could you please to update the uri on the load model request from ```/Users/...``` to ```file:/Users/....``` and see if that solves your issue?

[2019-01-09 01:12] #470 closed

[2019-01-09 02:15] Khiem-Tran commented on #467
It still doesn't  work, I got same message "no model with name airbnb"

<img width="1429" alt="screen shot 2019-01-09 at 10 14 31 am" src="https://user-images.githubusercontent.com/30489627/50871698-71e20b00-13f7-11e9-8f3d-a96f180b516e.png">

[2019-01-09 16:21] CoderLee2014 commented on #379
I have tried the code on bundle-hdfs [https://github.com/combust/mleap/tree/master/bundle-hdfs](url). But there was still the exception No configuration setting found for key 'ml.combust.mleap.spark'. Should we configure the reference.conf ourselves?

[2019-01-09 16:22] CoderLee2014 commented on #379
@hollinwilkins

[2019-01-10 10:11] dmitrievanthony opened #473 "Is MLeap actually a serialization “format”?"
Hi, I've already asked the [question on StackOverflow](https://stackoverflow.com/questions/54126259/is-mleap-actually-a-serialization-format), but let me duplicate it here.

I began to work with [MLeap][1] as a serialization tool that allows to save model in Spark or scikit-learn and load it for inference using [MLeap Runtime][2]. It works well.

Now my purpose is to load a model saved using MLeap

[2019-01-11 07:21] siyouhe666 commented on #117
Hello, my leapframe type is an 80 dimension tensor, how can i define my input data like your "rows.add(builder.createRow(1, "some random text", "1"));"?
thanks

[2019-01-11 07:39] siyouhe666 opened #474 "mleap-runtime issue about java"
How to use ml.combust.mleap.tensor or ml.combust.mleap.DenseTensor?  Any api document for java can be probided?

[2019-01-15 17:42] kothari-pk opened #475 "MLeap compatibility with Java 11"
MLeap currently supports Scala 2.11 and Java 8. Once there is Scala 2.12 support #360 . Can you please also add Java 11 support?

[2019-01-17 10:48] marsbible commented on #471
you can refer to my mleap branch https://github.com/marsbible/mleap/tree/batch-predict, it adds batch prediction to xgboost runtime.
addtionally  your can refer to my xgboost branch https://github.com/marsbible/xgboost/tree/predict-multithreading, it remove some threads contention code for prediction.

[2019-01-17 17:39] femibyte opened #477 "Mleap serializeToBundle error for Pyspark custom Transformer"
I have a Pyspark custom Transformer that I am trying to serialize to an mLeap bundle object for later model scoring but I’m getting the following error:

[code]

My custom transformer inherits from pyspark.ml.Transformer but it seems as if there needs to be a `_to_java()` implementation for the mleap serialization to work ?

What are my options ?

[2019-01-18 08:51] martin-weber commented on #373
+1

[2019-01-21 14:40] ruimaximo opened #478 "NoSuchElementException: key not found: org.apache.spark.ml.feature.OneHotEncoder #220"
Hi,

I want to bundle a PySpark ML pipeline with MLeap.
I was able to do it fine until I added pyspark.ml.feature.OneHotEncoderEstimator to my pipeline.

When I am using a cluster based on Python 3 and Databricks runtime 4.3 (Scala 2.11,Spark 2.3.1) I got the issue  [#220]

As suggested in #220 I tried to import and use the mleap OneHotEncoder. However, I cannot import anything from org.apache.spa

[2019-01-22 16:03] nsutcliffe commented on #367
Also just ran into the same issue 👎

[2019-01-24 14:40] yairdata commented on #343
i get similar problem, using mleap version 0.13.0 , pyspark 2.4.0
how can i point to the configuration file , there is no evidance of pyspark need to supply mleap configuration file in docs....
`import mleap.pyspark
from mleap.pyspark.spark_support import SimpleSparkSerializer
from pyspark.ml import Pipeline
from pyspark.ml.classification import GBTClassifier
from pyspark.sql import SparkSession
f

[2019-01-30 18:41] ancasarb commented on #389
Closing this as PR has been merged.

[2019-01-30 18:41] #389 closed

[2019-01-30 18:43] #468 closed

[2019-02-01 06:29] samikrc opened #479 "Saving bundle generates error: java.lang.NoClassDefFoundError: com/google/protobuf/GeneratedMessageV3"
After updating from mleap v0.11.0 to v0.13.0, I am getting the following exception when I try to save a Spark model:
[code]

This message is generated from the following code block:
[code]

I investigated this some more, and looks like, at the moment the following gets pulled in as external library: `Maven: com.google.protobuf:protobuf-java:2.5.0`
It also looks like the com/google/protobuf/Generat

[2019-02-04 14:09] jwgwalton opened #480 "Spark 2.4.0 Support"
As stated in issue title. It would be great to support the latest version of spark.

[2019-02-05 07:52] ancasarb commented on #479
hey @samikrc i'll try to reproduce this, what are the transformers included in your pipeline?

[2019-02-05 08:06] ancasarb commented on #478
hey @ruimaximo we've removed mleap's own one hot encoder, so you can use

```import org.apache.spark.ml.feature.OneHotEncoderEstimator```

instead.

To use the pyspark integration, you'll need to attach to your cluster the mleap pypi dependency as well. And then you can do something like this

[code]

[2019-02-05 08:07] ancasarb commented on #467
glad it worked! @Khiem-Tran is it alright to close this issue now?

[2019-02-05 08:13] #467 closed

[2019-02-05 15:01] samikrc commented on #479
Hello, thanks for your response. Code in the following repo shows the issue: https://github.com/samikrc/try-mleap/
Specifically running the following two tests throws the exception mentioned:

- CommonModelsSpec
- MleapPipelineTest

CommonModelsSpec is actually a collection of lot of small pipelines, the first one of which contains a Tokenizer, HashingTF and IDF.

[2019-02-05 15:09] samikrc commented on #479
Realized that other than updating to mleap 0.13, I have also updated to Spark 2.4. But reverting back to older Spark version did not seem to matter - still get the same exception.

[2019-02-05 15:40] samikrc commented on #480
Are you using any Spark 2.4 specific feature? I have also updated to Spark 2.4.0, and although I am currently stuck with #479, I don't foresee any issue as long as features from older Spark versions are used.

[2019-02-05 16:24] jwgwalton commented on #480
@samikrc i don't need any particular 2.4.0 functionality but i was getting an unsupported error for spark 2.4.0.

[2019-02-06 06:42] GowthamGoud opened #481 "show() method failing on dataset got from transform() after deserialization on bundle."
`from mleap import pyspark
from pyspark.ml import Pipeline, PipelineModel
from mleap.pyspark.spark_support import SimpleSparkSerializer
from pyspark.mllib.regression import LabeledPoint
from pyspark.ml.classification import NaiveBayes
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import HashingTF, Tokenizer, StringIndexer
from pyspark.ml import Pipelin

[2019-02-06 06:45] GowthamGoud commented on #481
It throws Caused by: java.util.NoSuchElementException: Failed to find a default value for modelType
even though i passed modelType ="multinomial" while intializing
NaiveBayes(smoothing=1.0, modelType="multinomial")

[2019-02-07 10:42] ancasarb commented on #479
ok, cool, I'm taking a look at your tests.

[2019-02-07 12:14] ancasarb commented on #479
Okay, it's spark-sql_2.11 dependency that's actually bringing in the protobuf 2.5 dependency. I think you can just remove it entirely (I couldn't really see where it was needed?) or alternatively you can include it like this in Maven.

[code]

With this change, most of the tests in CommonModelsSpec are passing.

Just a note on OneHotEncoder, because it's deprecated in Spark 2.3 and will be removed

[2019-02-07 13:36] ancasarb commented on #481
Hi @GowthamGoud, thanks for raising this bug find! We have a few instances where we've missed some params when re-loading the transformers back into Spark, I've raised https://github.com/combust/mleap/pull/483 to fix the NaiveBayes model and a couple others.

[2019-02-07 17:31] samikrc commented on #479
Hello, thanks for the note - much appreciated. I will check this out and get back. Will also update the OHE part.

Curious, can you provide a few lines about how you arrived at the dependency? I tried out using dependency analyzer in IntelliJ but was not able to get it.

Thanks again.

[2019-02-07 18:21] samikrc commented on #479
Ok - found the answer to above with some heavy-duty web search. The following command shows the information I am looking for:
[code]
Will get back on the rest.

[2019-02-07 20:05] RogPodge opened #484 "serializeToBundle doesn't work on Spark2.4"
The serializeToBundle function doesn't work with Spark2.4 due to the underlying implementation uysing org.apache.spark.ml.feature.OneHotEncoder, which has now been [deprecated](https://spark.apache.org/docs/latest/api/java/org/apache/spark/ml/feature/OneHotEncoder.html)

Error message:
[code]

Here is a link to the relevant [Mleap code](https://github.com/combust/mleap/blob/master/python/mleap/pys

[2019-02-07 20:05] RogPodge commented on #480
+1 On this initiative. This issue also needs to be addressed by this upgrade

https://github.com/combust/mleap/issues/484

[2019-02-08 07:47] ancasarb commented on #479
Yep, that's the one I used as well.

[2019-02-08 07:56] ancasarb commented on #484
Hey, even with Spark 2.3 MLeap 0.13 only supports OneHotEncoderEstimator (the not-deprecated one hot encoder) and not the deprecated OneHotEncoder.

[2019-02-08 08:29] #450 closed

[2019-02-08 08:31] ancasarb commented on #245
We've released the new model serving services with MLeap 0.13 earlier in the year, please let us know if you have any questions regarding that.

[2019-02-08 08:31] #245 closed

[2019-02-08 08:32] ancasarb commented on #451
hey @RayTsui the new model serving services are available in 0.13, please let us know if you have any questions!

[2019-02-08 08:36] ancasarb commented on #351
Closing this, please feel free to re-open if if the suggestion above doesn't fix your issues.

[2019-02-08 08:36] #351 closed

[2019-02-08 19:47] RogPodge commented on #484
If mleap 0.13 still doesn't use the OneHotEncoder, then where do you think the error message is coming from?

This was the command I used to run my mleap code:

/spark/bin/spark-submit --packages org.apache.spark:spark-avro_2.11:2.4.0,ml.combust.mleap:mleap-spark_2.11:0.13.0 --master yarn --deploy-mode client /mleap/mleap_demo_pyspark.py

[2019-02-10 01:29] lgongmsft opened #485 "the version of the mleap Python package does not match the version of the mleap jars."
I noticed that the version of the mleap Python package does not match the version of the mleap jars

https://github.com/combust/mleap/blob/30c1ce2c7e5ca81492514e1eadd79a8ec1b10a7a/python/mleap/version.py#L19
https://github.com/combust/mleap/blob/30c1ce2c7e5ca81492514e1eadd79a8ec1b10a7a/version.sbt#L1

Is this intentional?  Would it be easier for user to deal with those two separate pieces if their

[2019-02-11 21:01] RayTsui commented on #451
@RayTsui Hi @ancasarb I am always paying attention on mleap, once I have issues and good suggestions, I will post it here. Again, I am so appreciated for your update.

[2019-02-11 21:01] #451 closed

[2019-02-11 21:15] RogPodge commented on #484
I figured out the issue. We were still using the OneHotEncoder Transformer and mistakenly thought that the issue was on the MLeap side of things

[2019-02-11 21:15] #484 closed

[2019-02-13 00:50] FredYao opened #486 "Type casting between raw input and mleap-serialized models"
I trained a pipeline in Spark and successfully serialized it through MLeap. When I tried to use the serialized MLeap pipeline at runtime, some strange type casting error occurs. Then I checked the raw input schema and MLeap-pipeline schema, found some discrepancy:
`
Input schema of raw input data:
root
 |-- C1: string (nullable = true)
 |-- C2: string (nullable = true)
 |-- C3: double (nullable =

[2019-02-14 22:07] jeffsaremi opened #487 "Where are the mleap jar files installed when using pip install mleap?"
It looks like some jar files are missing because I get this error on serialization:
[code]
I searched under site_packages in my environment and I can see mleap and its python files however can't find any jar files so I can add them to the library path.

Are these available as a separate download?

[2019-02-14 22:08] jeffsaremi commented on #487
Just adding some version numbers:
python: 3.6
pyspark: 2.3.2
mleap: 0.18.1

[2019-02-15 05:43] samikrc commented on #423
I am getting this error with Spark 2.4.0 as well, and without using OVR. I have now added a test in the repo to demonstrate this. The test is available at: https://github.com/samikrc/try-mleap/blob/master/src/test/scala/com/tfs/test/LinearSVCTest.scala
The failure happens at line 72, when trying to write the pipeline as mleap bundle.

[2019-02-15 05:48] samikrc commented on #479
Tried this out today. I had to exclude protobuf-java from spark-yarn as well, and then the correct version got pulled in through mleap, as shown below.
[code]

This takes care of the issue mentioned here. However, then I got stuck with #423, a completely unrelated issues. Will follow-up on that separately. Closing this issue.

[2019-02-15 05:48] #479 closed

[2019-02-15 05:54] samikrc commented on #480
I have things working for most of the functionality, with Spark 2.4.0 components as dependency (#479  is now resolved). Are you doing things differently than the code I have here: [https://github.com/samikrc/try-mleap] ? Are you using through Scala or Python? At least with Scala, I have many pipelines working with Spark 2.4.0 and mleap 0.13, as shown at [https://github.com/samikrc/try-mleap/blob/m

[2019-02-15 18:34] jeffsaremi opened #488 "Passing the prediction dataframe to Serializer along with the pipeline model"
I don't understand the connection between the prediction results (from a call to `model.transform()`) and serialization of a model (created from a call to `pipeline.fit()`).

Is this prediction set saved and used later when I deserialize my model as an `MLeap` pipeline? (see the code below)

[code]
Is `mleap_prediction` actually uses the saved `spark_prediction`?

Can these two be different? the `

[2019-02-15 22:09] jasleen1291 opened #489 "Invalid scaling using MinMaxScaler"
We found inconsistent results between Mleap and pyspark transformation results. Upon investigation found that the value of the scaled values was different. Removing the scaler resolved the issue and the values between spark and mleap became consistent

We did following steps:

Use pyspark to train a random forest model as below:
[code]
Serialize by using PipelineModel.load()  to load model back in

[2019-02-19 00:27] jainakshay2605 commented on #376
@ancasarb I am not able to access any of the links which you have added. (Unfortunate 404 errors). I am also looking for mleap java prediction/scoring examples.

[2019-02-19 12:51] adityasinghcdacnoida commented on #442
please help me with this error

scala> val sbc = SparkBundleContext().withDataset(sparkPipelineLr.transform(datasetImputedFiltered))
java.lang.NoClassDefFoundError: ml/combust/bundle/HasBundleRegistry
  at java.lang.ClassLoader.defineClass1(Native Method)
  at java.lang.ClassLoader.defineClass(ClassLoader.java:763)
  at java.security.SecureClassLoader.defineClass(SecureClassLoader.java:142)
  at j

[2019-02-19 20:03] nammmm commented on #418
Facing the same issue.

[2019-02-21 06:36] avinash-indix opened #490 "Exception in thread "main" java.util.NoSuchElementException: key not found: num_features"
- the line throwing the exception is [https://github.com/combust/mleap/blob/30c1ce2c7e5ca81492514e1eadd79a8ec1b10a7a/mleap-runtime/src/main/scala/ml/combust/mleap/bundle/ops/classification/OneVsRestOp.scala#L38]
while trying to load the model from line
**`val mleapModel = {
          val model = (for (bf <- managed(BundleFile(new File(modelDir)))) yield {
            bf.loadMleapBundle()**

[2019-02-25 03:46] Exlsunshine opened #491 "Is the exported model run in python environment instead of Java/Scala environment?"
I am trying to use Mleap to avoid Spark during prediction. Currently, I can export the Spark model to Mleap format, but I cannot find any documents that can tell me how to use the exported model without spark dependency, I do find some wikis that describe how to do it in Java/Scala, but I wonder is the exported model able to run in python environment instead of Java/Scala environment?

[2019-02-25 04:20] Exlsunshine commented on #373
+1

[2019-02-25 10:31] ancasarb commented on #373
Currently, mleap-runtime can only be invoked from Scala/Java/JVM based language. What you can do though, is to have either a grpc client or http client in Python, calling a scoring service running in Java/Scala. You can start by taking a look at the docker images with the spring boot/grpc services we released recently.

[2019-02-25 10:31] ancasarb commented on #491
Currently, mleap-runtime can only be invoked from Scala/Java/JVM based language. What you can do though, is to have either a grpc client or http client in Python, calling a scoring service running in Java/Scala. You can start by taking a look at the docker images with the spring boot/grpc services we released recently.

[2019-02-25 13:14] ancasarb commented on #490
@avinash-indix would it be possible to perhaps get the csv file you were using so that I can run the example you've referenced?

I've tried a simple out of the box pipeline and was able to run without issues. The dataset I used is here https://github.com/combust/mleap/blob/master/mleap-databricks-runtime-testkit/src/main/resources/datasources/lending_club_sample.avro.

[code]

[2019-02-25 13:19] ancasarb commented on #490
Also, what is the actual exception being thrown? Could you please include the stacktrace?

[2019-02-25 13:47] ancasarb commented on #490
I can actually replicate your issue, using the mleap
[code]

Looking into what the issue is.

[2019-02-25 15:39] ancasarb commented on #490
I've raised https://github.com/combust/mleap/pull/492 to fix this issue, in the meantime, you can also try to use the default (as in my example above)

```import org.apache.spark.ml.classification.OneVsRest```

if you don't require the additional probability column and don't use any custom transformers from mleap-spark-extensions.

[2019-02-25 15:56] avinash-indix commented on #490
Thanks a lot Anca. I am using a custom transformer to convert the int
prediction column to double(multiclassevaluator throws an error if not). In
my code the i2dTransformer does only this. I could not find the transformer
that could do this so I had to custom make one. If you know of any plz do
let me know

On Mon, Feb 25, 2019, 21:09 Anca Sarb <notifications@github.com> wrote:

[2019-02-25 15:58] ancasarb commented on #487
The jars can be downloaded from Maven: https://mvnrepository.com/artifact/ml.combust.mleap. You're likely going to be interested in the mleap-spark, mleap-spark-extension or mleap-runtime dependencies.

In maven, if you include mleap-spark-extension dependency, it will transitively bring in the others.

[2019-02-25 16:03] ancasarb commented on #490
See if you can use ```import org.apache.spark.ml.classification.OneVsRest``` in your pipeline for now.

[2019-02-25 16:14] ancasarb commented on #489
We have this fix for MinMaxScaler and sparse vectors, could I please ask if numericFeats is indeed a sparse vector? I'll look to merge https://github.com/combust/mleap/pull/458 soon and add a test for this case.

If you're not using a sparse vector, then I'll take a look again at this issue.

[2019-02-26 10:32] ancasarb commented on #486
Hey @FredYao which transformer is using these  C4 & C6 columns?

[2019-02-26 10:32] ancasarb commented on #485
@lgongmsft I am planning on releasing a new version of the scikit-learn package, once I do that, I will update the versions to match.

[2019-02-26 15:56] yairdata commented on #491
@Exlsunshine from your issue i understand that you were able to use mleap with pyspark , can you share the versions & installation details , there are few issues open for the integration and it doesn't seem to work by the documentation (mleap 0.13 & spark 2.4.0./2.3.0 for example)

[2019-02-26 17:12] ancasarb commented on #480
Raised https://github.com/combust/mleap/pull/493 for Spark 2.4 support.

[2019-02-26 18:12] cencenseven commented on #489
numericFeats is sparse, about 1-2% non-zero numbers

[2019-02-27 10:01] ancasarb commented on #489
Okay, we've merged https://github.com/combust/mleap/pull/458 so the next version of mleap should have this fixed.

[2019-02-27 10:52] ancasarb commented on #488
hey @jeffsaremi, see below some answers to your questions, let me know if it makes sense.

No, spark_prediction is used strictly for the pipeline serialization.

You can transform any dataset with the deserialized pipeline, mleap_pipeline.

The transformed data frame is mostly used to extract data types and some metadata, so you could try with just one record and see how it goes.

The transformed

[2019-02-28 12:40] jwgwalton opened #494 "Difference between docker images"
There are 2 docker images
combustml/mleap-serving
combustml/mleap-spring-boot

from what i can tell these now share the same API in the latest versions (0.13.1-SNAPSHOT). Could someone clarify if there are any differences. It would be simpler for people looking to get started if the difference are documented.

Also the documentation for mleap-serving is out of date in http://mleap-docs.combust.ml/

[2019-03-01 00:54] xmzhu002552 opened #495 "How to make mleap spark extension usable in pyspark or make customized transformer available in pyspark?"
Is there anyway to make customized transformer available in pyspark? Currently, examples provided for customized transformers (like StringMap, MathBinary etc) can only be used in scala, not in pyspark? I wonder whether it is possible to create customized transformer to be used in pyspark?
thanks

[2019-03-01 01:33] koldkoder commented on #477
@femibyte did you find the solution to the issue?

[2019-03-01 21:35] FredYao commented on #486
@ancasarb, only VectorAssembler was called to assemble all C1 to C6 columns. There was no other particular transformer applied on C4 & C6.

[2019-03-02 21:46] ancasarb commented on #486
What you're actually seeing is the schema of the pipeline, in your case just the VectorAssembler, which in this case its input schema is defined as a series of double inputs https://github.com/combust/mleap/blob/d276c1c800277a1edcf30dda6e8559c7413b21f8/mleap-core/src/main/scala/ml/combust/mleap/core/feature/VectorAssemblerModel.scala#L93. Each of the models has an input/outputs schema.

If there's

[2019-03-02 21:49] ancasarb commented on #494
Hey @jwgwalton,

combustml/mleap-serving starts both the gRPC server and HTTP server, using a single MLeap executor whereas combustml/mleap-spring-boot starts only the HTTP server. Indeed, the HTTP API in both cases is the same.

We have https://github.com/combust/mleap-docs/pull/17 raised to update the main documentation, in the meantime, you can take a look at the documentation in the sub projec

[2019-03-03 15:47] ancasarb commented on #117
You can take a look at https://github.com/combust/mleap/blob/master/mleap-runtime/src/test/scala/ml/combust/mleap/runtime/javadsl/JavaDSLSpec.java#L38 where it's possible to pass in dense or sparse vectors that will be converted to tensors by mleap.

[2019-03-03 15:59] ancasarb commented on #376
hey @jainakshay2605, sorry about that, I'm not too sure what happened to that project. You can also take a look at the unit tests in [JavaDSLSpec.java](https://github.com/combust/mleap/blob/master/mleap-runtime/src/test/scala/ml/combust/mleap/runtime/javadsl/JavaDSLSpec.java) which shows you how you can do various things from creating a leap frame, tensor types, row transformers, etc. The most com

[2019-03-03 16:10] ancasarb commented on #294
There are quite a few duplicates on this question, I am going to close this issue and keep https://github.com/combust/mleap/issues/495 open as a reference ticket.

[2019-03-03 16:10] #294 closed

[2019-03-03 16:11] ancasarb commented on #396
There are quite a few duplicates on this question, I am going to close this issue and keep https://github.com/combust/mleap/issues/495 open as a reference ticket for this enhancement.

[2019-03-03 16:11] #396 closed

[2019-03-03 16:11] ancasarb commented on #369
There are quite a few duplicates on this question, I am going to close this issue and keep #495 open as a reference ticket for this enhancement.

[2019-03-03 16:11] #369 closed

[2019-03-03 16:19] ancasarb commented on #448
Closing this as PR#447 has been merged.

[2019-03-03 16:19] #448 closed

[2019-03-03 16:21] ancasarb commented on #445
PR for supporting scala 2.12 https://github.com/combust/mleap/pull/496.

[2019-03-03 16:23] ancasarb commented on #456
Closing this as PR #459 has been merged, please feel free to reopen if you see any issues, thank you!

[2019-03-03 16:23] #456 closed

[2019-03-03 16:30] ancasarb commented on #393
Closing this, as PR https://github.com/combust/mleap/pull/398 has been merged and released.

[2019-03-03 16:30] #393 closed

[2019-03-03 16:34] ancasarb commented on #375
We've re-implemented the serving layer, using either grpc or http (spring boot).

Could you please take a look at
https://github.com/combust/mleap/tree/master/mleap-serving
https://github.com/combust/mleap/tree/master/mleap-executor
https://github.com/combust/mleap/tree/master/mleap-spring-boot

and let us know if there are any issues? Thanks!

Will close this issue for now, as it's related to the

[2019-03-03 16:34] #375 closed

[2019-03-03 16:38] ancasarb commented on #452
@wguo123 is this still an issue?

We've re-implemented the serving layer, using either grpc or http (spring boot). You can take a look at the new serving layer, using the links below.

https://github.com/combust/mleap/tree/master/mleap-serving
https://github.com/combust/mleap/tree/master/mleap-executor
https://github.com/combust/mleap/tree/master/mleap-spring-boot

Thank you!

[2019-03-03 16:43] ancasarb commented on #362
We've re-implemented the serving layer, using either grpc or http (spring boot).

https://github.com/combust/mleap/tree/master/mleap-serving
https://github.com/combust/mleap/tree/master/mleap-executor
https://github.com/combust/mleap/tree/master/mleap-spring-boot

Please let us know if there see any issues, thanks!

[2019-03-03 16:43] #362 closed

[2019-03-03 16:46] ancasarb commented on #360
Closing this, there's another ticket for scala 2.12 support as well (https://github.com/combust/mleap/issues/445). PR to add support for scala 2.12 should be merged soon https://github.com/combust/mleap/pull/496.

[2019-03-03 16:46] #360 closed

[2019-03-03 16:48] ancasarb commented on #331
Closing this for now, as the workaround is quite easy to do.

[2019-03-03 16:48] #331 closed

[2019-03-03 16:51] #425 closed

[2019-03-03 16:58] ancasarb commented on #390
Could you please try with sbt version 0.13.16 and scala version 2.11.8? We're in the process of adding support for scala 2.12.8 as well, please see https://github.com/combust/mleap/pull/496. Thank you!

[2019-03-03 17:02] ancasarb commented on #410
We've re-implemented the serving layer, using either grpc or http (spring boot). You can take a look at the new serving layer, using the links below.

https://github.com/combust/mleap/tree/master/mleap-serving
https://github.com/combust/mleap/tree/master/mleap-executor
https://github.com/combust/mleap/tree/master/mleap-spring-boot

More examples in Java can also be found here: https://github.com/c

[2019-03-03 17:02] #410 closed

[2019-03-03 17:07] ancasarb commented on #481
Closing this, PR #483 with the fix for this issue has been merged.

[2019-03-03 17:07] #481 closed

[2019-03-03 17:21] ancasarb commented on #432
We've re-implemented the serving layer, using either grpc or http (spring boot).

Could you please take a look at
https://github.com/combust/mleap/tree/master/mleap-serving
https://github.com/combust/mleap/tree/master/mleap-executor
https://github.com/combust/mleap/tree/master/mleap-spring-boot (HTTP)

and let us know if there are any issues? Thanks!

Will close this issue for now, as it's related

[2019-03-03 17:21] #432 closed

[2019-03-04 09:20] ancasarb commented on #412
@lgongms are you still encountering this issue?

if so, could I please ask you to try to save the bundle locally instead of hdfs? do you see the same issue then?

I've taken the bundle you attached, loaded it and tried to serialize it using protobuf with this parity spec, similar with other parity specs we have in mleap and was able to do so successfully

[code]

[2019-03-04 18:06] xmzhu002552 commented on #495
Thanks for the reply but only answer attached in issue 294 seems dead. Do you have any update link for that? thanks

[2019-03-05 01:00] xmzhu002552 commented on #495
I tried to follow the example OneHotEncoder provided in the link. It seems the difficulties of making MathBinary available for pyspark is to use py4j to create a MathBinary object, which is a wrapper of MathBinaryModel. In order to create MathBinaryModel, we need BinaryOperation object, I wonder how this embedded class can be created through py4j. Any suggestion is greatly appreciated? Thanks

[2019-03-06 03:52] SoloBean commented on #343
@Raghavendra Singh
I am failling with the same error, have you solved it?

[2019-03-06 10:21] jwgwalton commented on #494
Cheers @ancasarb

[2019-03-06 11:51] ancasarb commented on #466
Hey @femibyte, we have these converters for e.g. https://github.com/combust/mleap/blob/e177e5816250ff0dfae7f82e84317f288a107f31/mleap-spark-base/src/main/scala/ml/combust/mleap/spark/SparkSupport.scala#L63 that would do this for you. This is currently in Scala, but I'll update the issue once I've gotten it to work in Python, you shouldn't have to do this conversion manually.

[2019-03-07 00:31] orchidmajumder commented on #376
Hi @jainakshay2605 you can take a look at an example here how MLeap can be used from Java - https://github.com/aws/sagemaker-sparkml-serving-container. I used the repository of @ancasarb as an example for writing this.

[2019-03-07 01:44] koldkoder commented on #361
@WusamX did you find answer to your question? I am struggling to serialized my custom transfomer in mleap using python. it is serializing fine using scala.

[2019-03-07 03:55] gyubaekkim commented on #367
I tested the workaround that @ksoucy and @andyliucoder suggested but it doesn't work.
Is there any other workaround to be applied before this issue is fixed?

Thanks.

[2019-03-10 01:56] ericx10ng commented on #367
ran into the same error

[2019-03-13 01:28] hellozjf opened #499 "How can I upload model?"
As the document in [http://mleap-docs.combust.ml/](http://mleap-docs.combust.ml/) say, if I want to load model, I need to place the model in the docker mounted directory.

![](https://aliyun.hellozjf.com:7004/uploads/2019/3/13/menu.saveimg.savepath20190313091754.jpg)

But I think it is not convenient. I think there should be some way to upload the model file in the PUT request. Just like the Trans

[2019-03-13 04:58] xmzhu002552 commented on #495
I finally found out a way to create customized transformer in Mleap and can be used in pyspark. It takes quite a bit work but it works. The path is: a, create a customized spark transformer without using any 'embedded' mleap transformer. This transform can be used in pyspark.  How? Just follow any transformer implementation in spark.  b, create a related mleap transformer. c, modify the registry.

[2019-03-14 07:42] testadministrator opened #500 "Unexpected HTTP/1.x request"
I run the docker image, mleap-serving return this error when I send a http request. I have tried latest and other images.

[2019-03-14 08:31] SoloBean commented on #266
@ancasarb The URL is 404...sad

[2019-03-14 09:18] ancasarb commented on #266
@SoloBean apologies, we've actually converted that scala class to a java one to make sure that the API works fine in Java.

here's the updated link: https://github.com/combust/mleap/blob/master/mleap-runtime/src/test/scala/ml/combust/mleap/runtime/javadsl/JavaDSLSpec.java

[2019-03-14 09:34] ancasarb commented on #500
Could you please post the request you're making? Thank you!

[2019-03-14 11:31] testadministrator commented on #500
request :

repsone:

docker command:

the image log:
`
11:24:36.247 [main] INFO ml.combust.mleap.grpc.server.RunServer - Starting MLeap gRPC Server
11:24:36.428 [main] INFO ml.combust.mleap.grpc.server.RunServer - Creating thread pool for server with size 32
11:24:36.431 [main] INFO ml.combust.mleap.grpc.server.RunServer - Creating executor service
WARNING: An illegal reflective access operation h

[2019-03-17 10:54] ancasarb commented on #500
@testadministrator We've reworked the serving layers, both using HTTP and GRPC (new), could you please take a look https://github.com/combust/mleap/tree/master/mleap-spring-boot for the documentation that describes the endpoints available for 0.13.0-SNAPSHOT? We're still in the process to update our documentation, apologies for that.

[2019-03-18 06:18] yairdata commented on #343
@SoloBean , @RaghavendraSingh  , @lie-yan  -
have you been able to overcome the error of:

i am using pyspark  2.3.1 , with mleap 0.8.1 installed from pypi
if the jar-with-dependencies build helped you - can you share it's location or the steps taken to produce it from the project ?

[2019-03-18 12:33] testadministrator commented on #500
Thanks!

[2019-03-18 13:04] yairdata commented on #252
i am getting the below error:

i wonder why the shading is not part of the release, for companies that from security policies have access only pypi , it will be great that all dependencies will be fetched from there and maven , and won't involve changes in maven/sbt files and building fat jars.
alternatives can also be be building a spark+mleap docker for the train & export part , and not just the

[2019-03-19 17:45] hanyucui opened #502 "MLeap HashingTF export ignores numFeatures"
I was using MLeap 0.13.0 to serialize and deserialize` HashingTF`, and I found `numFeatures` seems to be ignored. In the code below, `numFeatures` is 16 for `sparkTransformed` but 262114 (the default) for `loadedTransformed`:
[code]

[2019-03-26 22:54] FredYao opened #503 "Is there a general rule for creating customized mleap transformers?"
Mleap supports all standard spark machine learning models. There could be use cases that a user train a model though his own implemented machine learning algorithm. Wondering if there is a general rule to follow for creating a mleap transformer for that own-implemented machine learning algorithm? Basically, I want to know what classes need to be created or modified?

[2019-03-31 09:19] yairdata commented on #343
i think that this issue is relevant to https://github.com/combust/mleap/issues/257 , with automatic resource configuration .
there are 2 open issues related:
https://github.com/combust/mleap-docs/issues/8
https://github.com/combust/mleap/issues/343

        at ml.combust.mleap.spark.SimpleSparkSerializer.serializeToBundleWithFormat(SimpleSparkSerializer.scala:25)

 i am using mleap 0.8.1 , it gets

[2019-03-31 16:27] gitabu opened #504 "Spark schema to Mleap schema"
When we need to convert basic spark schema to mleap schema, we have to provide the spark dataset.

To provide dataset, we have create spark data frame by using SparkContext. I want to support spark schema with basic data types so that when we convert spark model to mleap in production, one dont need to convert the spark schema to mleap schema.

Currently I am doing this in my project but want to c

[2019-04-02 15:18] AndyMc629 commented on #455
I've also had this issue when deserializing a model in the python binding.

`import mleap.pyspark
from mleap.pyspark.spark_support import SimpleSparkSerializer

cvModel.bestModel.serializeToBundle("jar:file:/tmp/mleap_python_model_export/test_pipeline-json.zip", cvModel.bestModel.transform(train_data))`

Then running

`from pyspark.ml import PipelineModel
deserializedPipeline = PipelineModel.deser

[2019-04-02 19:24] femibyte commented on #126
Any progress on this issue in making mleap support SQLTransformer  ?

[2019-04-03 12:47] rickbassham opened #505 "Question: Using custom transformers with mleap-serving"
Does someone have an example of using custom transformers with mleap-serving? I have a jar file containing custom transformers and want to load them. I'm new to scala, sbt, etc, so any help would be greatly appreciated.

[2019-04-04 05:28] siddhant0509 opened #506 "SparkNodeWrapper issue in setting prediction value in Leaf Node"
In SparkNodeWrapper class leaf node is set like this
`new tree.LeafNode(prediction = node.values.indexOf(node.values.max),
      impurity = 0.0,
      impurityStats = calc)`

`node.values.indexOf(node.values.max)` is just going to find the index of the max value but not set it.

[2019-04-04 09:07] gitabu commented on #505
Have you written Custom Transformation in Spark or Mleap?

[2019-04-04 09:42] rickbassham commented on #505
Mleap

[2019-04-04 10:50] gitabu commented on #505
Hope you have followed following link, we need to create reference.conf file and add custom Transformer entry there as mentioned in following doc. This will load all custom transformation otherwise you get error.

https://github.com/combust/mleap-docs/blob/master/mleap-runtime/custom-transformer.md

[2019-04-04 22:47] FredYao opened #508 "CountVectorizer need explicit conversion between Java and Scala"
I am training a CountVectorizerModel in Spark, where it takes an array of strings as a input feature value. I then serialized the model using MLeap, and deserialize it in a pure Java environment and use it as a transformer. However, the transformer (in Java) was not able to recognize Java's String array. According to the reported error, I have to explicitly convert the Java string array to a Scala

[2019-04-05 08:21] tcoatale commented on #455
@AndyMc629 , a possible but far from ideal workaround would be to systematically store your model in spark format (through the write method of `PipelineModel`) and mleap format. You would then load the spark format if you want to use it in spark or in mleap format if you want to use it in mleap at runtime.

It's not ideal and there are redundancies, but until that's fixed, I don't really see any a

[2019-04-05 14:44] mohaissa commented on #478
Hi @ancasarb
I am using Databricks run time version cluster:  5.2 ML Beta (includes Apache Spark 2.4.0, Scala 2.11) and from Marven : ml.combust.mleap:mleap-spark_2.11:0.12.0
I got thse same Error:
java.util.NoSuchElementException: key not found: com.databricks.sparkdl.DeepImageFeaturizer
---------------------------------------------------------------------------
Py4JJavaError

[2019-04-05 19:13] aditya619 opened #510 "Mleap Schema for vector of features"
I have a spark RF model which I'm trying to serve using Mleap. The schema of the input is of the following format from spark.

[code]

I'm trying to use the below schema in leap frame for the above input features.

[code]
However the sending the above input through mleap transform endpoint fails. The exception seems to be in JSONMapping.

[code]
Can anyone confirm if the above input is correct?

[2019-04-08 10:12] marsbible commented on #503
read the doc, refer to xgboost module

[2019-04-10 06:12] cddesire opened #511 "serializeModel MultilayerPerceptronClassificationModel, NoSuchMethodError: MultilayerPerceptronClassificationModel.rawPredictionCol()"
[code]

Spark version 2.0.1    mleap version 0.11.0
[code]

`MultiLayerPerceptronClassifierOp.sparkOutputs` caused Exception:
[code]

[2019-04-10 10:13] jaroslawk opened #512 "adding mleap to conda-forge"
Team,

I want to add MLflow to conda forge. One of it dependencies is mleap.
Can I add mleap to conda?
I see there is https://anaconda.org/Anaconda-Extras/mleap

is this supported by anyone?

[2019-04-11 18:06] salimngit opened #513 "load Model via http uri"
I'm able to successfully load model (HTTP 202) when I HTTP POST the below body

{"modelName":"testmodel","uri":"http://{DATABRICKS_INSTANCE}/files/{MODEL_EXPORT_PATH}?o={DATABRICKS_ORG}","config":{"memoryTimeout":900000,"diskTimeout":900000},"force":true}

however when I query the model's availability i.e.

GET /models/testmodel/meta

I receive HTTP 404 and the below exception in the shell

ml.com

[2019-04-11 18:35] salimngit commented on #513
After further investigating model download via wget, I saw that downloading model directly from databrick's Filestore responds with HTTP 303 redirect before the bundle .zip file is downloaded. Does anyone have a workaround how to enable follow redirect URI load via Mleap?

[2019-04-15 13:23] jwgwalton opened #514 "Add support for mmlspark"
It would be a useful package to support as it's currently the only spark based package that supports class weights for tree based algorithms.

[2019-04-17 08:49] ancasarb commented on #500
Closing this for now, please reopen if you see any issues, thank you!

[2019-04-17 08:49] #500 closed

[2019-04-17 08:50] #494 closed

[2019-04-17 21:40] akarsh3007 commented on #514
@jwgwalton MMLSpark has a serving project.

[2019-04-18 07:37] jwgwalton commented on #514
@akarsh3007 MMLSpark Serving still relies on being backed by a spark cluster. I want to use MLeap so i don't need this.

[2019-04-19 21:22] 0xbliang commented on #513
the [doc](https://github.com/combust/mleap/tree/master/mleap-spring-boot#available-endpoints) suggests you need to specify the following header, even for GET:
Content-Type: application/json

[2019-04-19 21:41] 0xbliang opened #516 "mleap-serving: max value for memoryTimeout is too restricted"
I found that if you don't specify a memoryTimeout, the model will be evicted/unloaded after idling for 15 minutes. Then you can't use the model anymore.

So, I tried to set it to as large as I can:
[code]
But when I made the transform/scoring request, the server side console log said:
[code]
21474835 seconds ~= 8 months. That's very limiting. Can we specify a very large timeout, or is there a way

[2019-04-19 21:46] jkbradley opened #517 "Apache Spark MLlib GBTClassifier import from JSON bundle fails"
Short version:
* I exported an MLlib Pipeline with a GBTClassificationModel
* I inspected the bundle JSON, and it looked correct.
* I import the bundle, and the GBTClassificationModel's tree models had all-0 predictions.

Environment:
* Apache Spark 2.4 (in Databricks, using DBR 5.3 ML)
* Maven MLeap: `ml.combust.mleap:mleap-databricks-runtime_2.11:0.13.0`
* PyPi MLeap: 0.8.1 https://pypi.org/proj

[2019-04-20 05:09] salimngit commented on #513
I specify Content-Type: application/json during model query (i.e. GET /models/{model_name}/meta. however the issue is unrelated to model query but rather model load. the initial model load via HttpRepository doesn't cater for URL redirects which databricks responds back with when you're loading models from dbfs Filestore in my case http://{DATABRICKS_INSTANCE}/files/{MODEL_EXPORT_PATH}?o={DATABRIC

[2019-04-23 02:56] ancasarb commented on #478
Hey, we don't have support for DeepImageFeaturizer, I could help guide you in what's required for adding support for it, if you'd like.

[2019-04-24 00:53] mohaissa commented on #478
Yes please, I would like your help.
thanks

[2019-04-24 03:14] xupengrun opened #518 "Custom spark transformer java.lang.NoSuchMethodException: net.xxx.rank.mleap.transform.feature.JsonStringArrayMap.<init>(java.lang.String, ml.combust.mleap.core.types.NodeShape, net.xxx.rank.mleap.core.feature.JsonStringArrayMapModel)"
Could someone help me to slove this problem,I'm new to scala,when i try to write a custom spark transformer to mleap servering by the [Mleap dcos](https://github.com/combust/mleap-docs/blob/master/mleap-runtime/custom-transformer.md),this exception happend,it comfused me lot of days. Thx!

spark.version:2.4.0 mleap.version:0.13.0 scala.version:2.11.8 jdk:1.8
[code]

`java.lang.NoSuchMethodExceptio

[2019-04-25 02:25] xupengrun commented on #518
I've sloved this problem by adjust constructer params order

[2019-04-26 09:29] AlirezaAlizadeh opened #519 "Change the dependency type of the 'nose-exclude' package"
Currently, in the mleap python package, the `nose-exclude` package is listed as a required package for installation. Since `nose-exclude` is required for the tests, it should be added to the `tests_require` package to reduce the irrelevant packages for the installation and production.

Moreover, this can eliminate the extra licensing concerns to use the mleap python distribution.

[2019-04-29 21:25] mikejonesyjones opened #521 "handleInvalid param not retained across serialization/deserialization of Spark Bucketizer"
[BucketizerModel](https://github.com/combust/mleap/blob/master/mleap-core/src/main/scala/ml/combust/mleap/core/feature/BucketizerModel.scala) does not support handleInvalid (this makes sense since the SparkCode annotation says that the code is based on Spark 2.0.0 and the handleInvalid param was not added until v2.1.0).

I can see a similar ticket from when support for handleInvalid was added to S

[2019-05-01 14:33] ancasarb commented on #521
Hey @mikejonesyjones, thanks for creating the issue. There's some work being done currently to fix de-serialization of some of the transformers back into Spark, once that's completed, I'll take a look at adding the handleInvalid for Bucketizer and actually VectorIndexer needs it too. Thanks again!

[2019-05-02 09:31] ancasarb commented on #455
Hey @tcoatale I've raised an issue with Spark (https://issues.apache.org/jira/browse/SPARK-27621) and created a PR for the fix, you can follow progress there. I think the right thing to do here is to fix it within Spark, as mleap really shouldn't serialize any training related params.

In the meantime, I think the solution to also store the model in Spark format for scoring within Spark seems like

[2019-05-02 13:35] ancasarb commented on #519
Thanks for fixing this, I've merged the PR :)

[2019-05-02 13:35] #519 closed

[2019-05-02 13:42] ancasarb commented on #504
Hey @gitabu, we already have a way of converting from Spark schema to MLeap schema, you don't have to do this manually.

[code]

Hope this helps!

[2019-05-02 13:54] ancasarb commented on #510
@aditya619 could you please try to change to a tensor type for features and see if that works better?
[code]

[2019-05-02 14:00] ancasarb commented on #502
Should be fixed in https://github.com/combust/mleap/pull/522 by @tammosminia.

[2019-05-02 14:24] ancasarb commented on #508
Hey @FredYao, to avoid having to convert the Java array to Scala, you could wrap your CountVectorizer in Spark in a pipeline and serialize the model as a pipeline with 1 transformer. Then, in Java, you can score using the pipeline model, which scores using a leap frame.

We've added quite a bit of support for working with leap frames in Java, you can take a look at the tests here https://github.co

[2019-05-02 14:28] ancasarb commented on #518
Glad you've managed to solve it!

[2019-05-02 14:28] #518 closed

[2019-05-02 14:53] #489 closed

[2019-05-02 15:02] ancasarb commented on #503
Hey @FredYao http://mleap-docs.combust.ml/mleap-runtime/custom-transformer.html describes what is required for custom transformers, it would be the same classes required regardless whether the transformer has some ml algorithm or is doing some feature processing.

Hope that helps,
Anca

[2019-05-02 15:07] ancasarb commented on #490
Closing as #492 was merged and will be released with the new mleap version.

[2019-05-02 15:08] #490 closed

[2019-05-02 15:12] ancasarb commented on #462
Closing as PR #497 was merged and will be released in the new mleap version.

[2019-05-02 15:12] #462 closed

[2019-05-02 15:15] ancasarb commented on #452
Closing this, please re-open if it's still an issue.

[2019-05-02 15:15] #452 closed

[2019-05-02 15:34] ancasarb commented on #412
Closing this, please re-open if this is still an issue.

[2019-05-02 15:34] #412 closed

[2019-05-02 15:39] ancasarb commented on #390
Closing this, as we no longer support scala 2.10, please let me know if you have further questions.

[2019-05-02 15:39] #390 closed

[2019-05-02 15:46] ancasarb commented on #335
closing this, this seems to have been fixed.

[2019-05-02 15:46] #335 closed

[2019-05-02 15:53] ancasarb commented on #293
Closing this issue, as we're adding support for scala 2.12 here https://github.com/combust/mleap/pull/496 and tracking it here https://github.com/combust/mleap/issues/445. Please re-open if you think adding support 2.12 is not enough for what you had in mind, thanks!

[2019-05-02 15:53] #293 closed

[2019-05-02 15:54] ancasarb commented on #151
Closing this, could you please re-open once more info is available? Thanks!

[2019-05-02 15:54] #151 closed

[2019-05-02 18:47] hanyucui commented on #502
Great! Thanks, @ancasarb and @tammosminia.

[2019-05-03 12:57] ancasarb commented on #506
@siddhant0509 Thanks for raising this, indeed that line should say ````new tree.LeafNode(prediction = node.values.max, impurity = 0.0, impurityStats = calc)```. We will try to merge the fix as part of https://github.com/combust/mleap/pull/522 which addresses a few other spark deserialization issues.

Thanks again for raising this issue.

[2019-05-03 12:58] ancasarb commented on #517
This issue is actually caused by the bug described here https://github.com/combust/mleap/issues/506.  We'll try to fix it and get it merged as part of https://github.com/combust/mleap/pull/522. Thanks @jkbradley for raising this issue!

[2019-05-06 09:18] AlirezaAlizadeh commented on #519
Thanks for accepting the fix @ancasarb. Would you please let me know when would be the next release? That would relay help us in integrating the mleap within our platform.
Overall, I would appreciate if you make a patch release in case the next release will take a long time.

[2019-05-06 09:50] MUdhay opened #523 "Support for custom transformer having only input columns:"
We have been planning to use a custom transformer that performs inplace transformation, and this basically doesn't involve creation of a new column by the transformer. All the examples which are provided in the custom transformer section in mleap have considerd transformers that have an input and an output column. As a result, all the classes which have been used for serailizing the spark transfor

[2019-05-07 08:17] ancasarb commented on #506
Fixed as part of https://github.com/combust/mleap/pull/522, will be released with the new version of mleap.

[2019-05-07 08:17] #506 closed

[2019-05-07 08:17] ancasarb commented on #502
Fixed as part of https://github.com/combust/mleap/pull/522, will be released with the new version of mleap.

[2019-05-07 08:17] #502 closed

[2019-05-07 09:13] ancasarb commented on #455
The Spark PR https://github.com/apache/spark/pull/24509 got merged into master/2.3/24.

[2019-05-07 09:13] #455 closed

[2019-05-07 12:54] ancasarb commented on #517
PR has been merged and will be released as part of the new mleap release.

[2019-05-07 12:54] #517 closed

[2019-05-08 08:57] ancasarb commented on #516
Hey @0xbliang, the timeout will be triggered if the model is idle (i.e. no requests, for e.g. transform requests) for around 8 months, what would be a use case to keep a model loaded in memory for that long without any requests going to it?

[2019-05-08 18:28] rucarden commented on #279
Is there a similar issue with IndexToString?  When the dataset that I pass in to serialzeToBundle doesn't have an output column, the serialization fails, complaining that the field does not exist.

    val testIndexToString = new IndexToString()
    testIndexToString.setInputCol("id")
    testIndexToString.setOutputCol("label")
    testIndexToString.setLabels(labels)
    val sss = new ml.combust.m

[2019-05-08 22:20] ancasarb commented on #179
@lgongms @yijiezz @hollinwilkins this issue should be fixed by https://github.com/combust/mleap/pull/524.

[2019-05-09 05:33] itsmesrds commented on #467
@ancasarb @Khiem-Tran

i have registered the Model like Below:

body='{"modelName":"airbnb","uri":"file:/models/airbnb.model.lr.zip","config":{"memoryTimeout":900000,"diskTimeout":900000},"force":false}'

curl --header "Content-Type: application/json" \
  --request POST \
  --data "$body" http://localhost:8080/models

When i try hit for Transform like Below ways :

body='{"modelName":"airbnb","for

[2019-05-09 06:33] Khiem-Tran commented on #467
@itsmesrds can you try with the random-forest model from the same tutorial? Last time, I could not use the `lr.zip` for transforming the json sample. I think the build has some change on features that make the json file is not supported.

[2019-05-09 06:57] itsmesrds commented on #467
Thank you for the Quick Response...
Ok ill try as you suggested ....

@Khiem-Tran  please let me know..Do i have to pass the file name or path with file name or file content by converting to json string

Thanks

[2019-05-09 07:32] danielpoonwj opened #525 "mleap-spring-boot: Load model(s) when process starts"
We've been working on productionizing some models with `mleap-spring-boot`, and a pain point we've been facing is in regards to easily loading models during deployment.

On a EC2 based AWS infrastructure with a load balancer and autoscaling, we aren't able to reliably send external HTTP requests to load models for every instance due to load balancing, and instances may be added/removed at any time

[2019-05-09 08:59] Khiem-Tran commented on #467
@itsmesrds, I followed this tutorial [http://mleap-docs.combust.ml/mleap-serving/#load-model](url) and succeeded  to transform the sample json with `rf.zip`. Maybe you can try `-d @/models/frame.airbnb.json`

[2019-05-10 19:17] a-p-o commented on #513
@salimngit, based on my experience, the 202 response code is a lie. There is an error which is not logged. You can print this log by applying this change: https://github.com/a-p-o/mleap/commit/ee2817719b5488a776ab614c9467aaa711c6a8d4

[2019-05-10 19:23] a-p-o commented on #473
@dmitrievanthony there is a repository with protobufs for how to serialize a bundle: https://github.com/combust/bundle-protobuf/ Is this what you're looking for?

[2019-05-10 20:20] ancasarb commented on #513
@a-p-o I think this is a slightly different issue, will take a look at the HttpRepository separately.

Please note the difference between 202 (Accepted) and 200 (OK). When loading a model, the response you get is 202, accepted, meaning that the server will try to load a model, but it doesn't necessarily mean that it has loaded successfully. You can do a further get to get the model to check whethe

[2019-05-12 16:04] ancasarb commented on #467
@itsmesrds you can take a look at this readme file https://github.com/combust/mleap/tree/master/mleap-spring-boot, this is how the transform endpoint works.

[code]

[2019-05-13 18:08] rarbabi commented on #475
@ancasarb is there any timeline for the java 11 support? and is the sun.unsafe library the only reason  mleap is only supported in Java 8?

[2019-05-20 04:25] reddyjbaddam commented on #128
How do we load the Zipfile from the  stream  into MLeap library , Is there any overloaded method is available for load the stream into Bundle

[2019-05-20 10:28] ancasarb commented on #525
Hey @danielpoonwj, thanks for raising this issue, all valid points. I think it shouldn't be too complicated to add this functionality, we could, for example, have a Spring @Component that has a @PostConstruct method that loops through files in a specified local directory and loads the models in? What do you think? Happy to work with you if you're interested in contributing to add this in mleap-spr

[2019-05-21 06:23] danielpoonwj commented on #525
Thanks for your reply @ancasarb! I'll definitely like to contribute, but I may need some help advising and reviewing along the way as I've got limited experience with this framework. I'll look into the `@PostConstruct` approach and raise any issues if I encounter any.

[2019-05-22 10:49] enpinzolas commented on #343
I am also experiencing this issue:
[code]

I believe that I have all the required jars. I had to download these:
[code]

[2019-05-24 04:56] FredYao opened #527 "Is it possible to store some meta-info about features?"
I realized that bundle has a meta-info object. Is there a way to store some meta-info about each feature (i.e., features used for training ML models)?

In Spark. StructField has a 4th argument Metadata. But I am not sure MLeap has such a thing? Or any equivalence?

Thanks!

[2019-05-24 16:01] FredYao commented on #445
Thanks to @ancasarb for creating a PR enhancing the scala version support. Waiting for the PR to be released! I am closing this ticket now.

[2019-05-24 16:01] #445 closed

[2019-05-24 16:03] ancasarb commented on #527
I don't think there's a metadata field for fields in MLeap, what type of information were you thinking of being to store for features?

[2019-05-24 16:12] FredYao commented on #527
@ancasarb , thanks for your response. I found Spark's StructField provides a flexibility to store some meta-info about acolumn/feature. So I tried to see if MLeap has a similar functionality or not.

I have a use case: deploy a MLeap model into a online serving environment which serves requests in a very low latency manner. The data used for training is not quite consistent with the data used for

[2019-05-24 20:07] akshaan opened #528 "Model de-serialization error"
I'm attempting to serialize a Spark `pipelineModel` to an Mleap bundle and then de-serialize it, but I get this error:

[code]

[2019-05-28 21:45] 0xbliang commented on #516
You are right, in that case, it's sufficient. Closing issue. Sorry for the delayed response.

[2019-05-28 21:45] #516 closed

[2019-05-29 21:19] zjost opened #529 "String transformation options?"
I am wondering if there's a simple way to apply user defined, Map-like operations (which don't require "fitting").  For instance, if I have a column of strings and want to lowercase, do I need to build a Custom Transformer with all the associated overhead, or is there some simple way to e.g. serialize trivial scala code?

[2019-06-01 09:42] psc0606 commented on #223
Why close this isuee

[2019-06-01 23:09] aaditya3 opened #530 "Serialized then deserialized model does not have the same results (all zero's)"
It's not clear to me why this is happening. I was first using spark 2.4.3 but then changed back to 2.3.3 (as I believe support for 2.4 was being considered and may have just been added).

Python version 3.7.3
mleap version 0.13.0

[code]

The output from the first time:

[code]

The second time:

[code]

[2019-06-03 07:33] yangglebin opened #531 "how can i load a onnx model using mleap?"

[2019-06-05 17:38] archetana commented on #343
Added all the dependencies mentioned by @enpinzolas  , tried with Spark version 2.3.0, 2.3.3 and 2.4.3. Getting the following error
[code]

[2019-06-12 12:30] yairdata commented on #495
@xmzhu002552 - can you share more detailed solution for pyspark custom transformer support in mleap ?
an example will be highly appreciated.

[2019-06-13 08:45] PratikBarhate opened #532 "ClassNotFoundException: com.google.protobuf.GeneratedMessageV3"
We are trying to serialize an Apache Spark ML pipeline; which includes String Indexer, Standard Scalar, Vector Assembler, and Logistic Regression. (Serialization format JSON)
Apache Spark - v2.3.0
It works fine with MLeap - v0.12.0 but while using v0.13.0 we are facing the issue of a class not found; the class is from Google's Protobuf library. We tried to find out the Protobuf version used as the

[2019-06-13 09:41] PratikBarhate commented on #532
I tried manually deleting the protobuf-java:2.5.0 and all the other 2.x.x versions from the m2 repository, but still, maven pulls the v2.5.0 into the dependencies while the required version seems to be 3.5.0.

Any suggestions on what can be the reason for the same?

[2019-06-17 05:49] yairdata opened #533 "availability of library in spark cluster's machines"
if my aim is to convert spark ML model to mleap format, do i need to install mleap just on the edge nodes or also on the data nodes ?

[2019-06-19 07:08] psc0606 commented on #530
Anyone can answer this question?

[2019-06-19 16:04] rucarden opened #534 "ReverseStringIndexer not supported in scikit learn"
Since there doesn't seem to be a mention of the reverse_string_indexer in mleap/python/mleap/sklearn/preprocessing/,  I don't believe the ReverseStringIndexer is currently supported for sklearn.

[2019-06-19 16:46] rucarden commented on #532
Did you resolve your issue?  How are you managing your dependencies.  Are you using gradle or sbt?

[2019-06-19 17:05] PratikBarhate commented on #532
Not we were not able to resolve the issue we went ahead with prototyping with v0.12.0. We are using maven v3.53

[2019-06-21 20:02] ancasarb commented on #530
@aaditya3 @psc0606 we've done some fixes for deserializing models back into Spark, we're doing the release for mleap 0.14.0 the next few days, which I believe would solve this problem. I will keep you posted once the new version is available!

[2019-06-21 20:06] ancasarb commented on #532
@PratikBarhate could you please check out this issue https://github.com/combust/mleap/issues/479? it sounds similar to what you're seeing. I believe it was the spark-sql_2.11 that was bringing in protobuf-java:2.5.0, depending on what you're using (maven, gradle, sbt) there are ways to exclude that.

Hope this helps!

[2019-06-24 12:18] ancasarb commented on #445
@FredYao support for scala 2.12 has been released in mleap 0.14.0

[2019-06-24 12:19] ancasarb commented on #480
@jwgwalton @samikrc @RogPodge support for spark 2.4 has been released in version 0.14.0.

[2019-06-24 12:19] #480 closed

[2019-06-24 15:01] lalith1403 commented on #367
works only with Python 2.7. Python3 gives the following error.

[2019-06-26 10:29] jwgwalton commented on #480
Cheers @ancasarb

[2019-06-26 17:16] tovbinm commented on #413
I was able to workaround it using the [in-memory file system](https://github.com/marschall/memoryfilesystem) implementation. Here is the implementation if anyone is curious - https://github.com/salesforce/TransmogrifAI/blob/master/local/src/main/scala/com/salesforce/op/local/OpWorkflowModelLocal.scala#L154

[2019-06-26 17:16] #413 closed

[2019-06-26 17:27] tovbinm commented on #488
I have looked into the MLeap code and it seems that transformed `Dataframe` is only used to get the `schema: StructType` from it. I propose to replace requirement of passing `Dataframe` with just the schema `StructType` @ancasarb

[2019-06-27 06:11] PratikBarhate commented on #532
@ancasarb Thank you, the solution presented in the issue [#479](https://github.com/combust/mleap/issues/479) solved it as it seems to be the same issue.

[2019-06-27 06:11] #532 closed

[2019-07-03 07:41] yairdata commented on #303
@hollinwilkins  - is there an option to supply only part of the fields in the schema, and the rest will be filled with default values?
something like deserialization of json input to POJO with @JsonIgnoreProperties(ignoreUnknown = true) in it.

[2019-07-11 08:31] samikrc commented on #423
Hi @ancasarb : We have a pull request for this enhancement. Can you or someone in the team take a look? Thanks.

[2019-07-11 09:11] ancasarb commented on #423
hey @samikrc will take a look. thank you for submitting the PR!

[2019-07-11 09:12] ancasarb commented on #530
we've released 0.14.0 recently, could you please check if it's still an issue?

[2019-07-17 15:23] FredYao opened #537 "Does MLeap support Spark-Deep-Learning?"
Databricks has its own packge for running Deep Learning on Spark: https://github.com/databricks/spark-deep-learning
Wondering if MLeap supports this or not?
Thanks!

[2019-07-19 13:53] ancasarb commented on #537
Hey @FredYao, no there's no direct support for the deep learning transformers under spark-deep-learning, but mleap does support tensorflow/keras if that is what you're looking after.

I'm happy to review a PR if you'd like to add them in, thank you!

[2019-07-19 15:36] FredYao commented on #537
@ancasarb , thank you for your response. I was checking the mleap document (http://mleap-docs.combust.ml/) for TensorFlow support, however, I barely can find any examples or guidances for using that. Is there any code example that I can refer to? Thanks!

[2019-07-22 11:32] VladimirGl opened #539 "SKLearn Imputer serialization"
During serialization of sklearn imputer it stores only first value (imputed value for the first column), is this expected? It supports input of multiple columns, so it seems wrong for me.

[2019-07-24 15:41] iamontheinet opened #540 "Loading MLeap (.zip) Bundle from Azure Blob Store"
Hi!

Is it possible to load MLeap (.zip) bundle that is stored on Azure Blob Store (as Block blob)? If so, an example would be greatly appreciated. So far I've tried the following formats, but none of them have worked:

[code]

The exceptions I get are "**scala.MatchError: https (of class java.lang.String)**", "**scala.MatchError: wasb (of class java.lang.String)**", "**java.lang.IllegalArgumentEx

[2019-07-25 16:56] FredYao opened #541 "Issue when serializing a SKLearn Pipeline"
Error Message:
'''AttributeError: 'Pipeline' object has no attribute 'name''''

I was using Python 3.5, MLeap was installed through '''pip3 install mleap'''
Has anybody encountered a similar problem? Is there a compatibility issue or my lib version issue?

[2019-07-26 15:52] toquoccuong commented on #126
I also have the problem with SQLTransformer with groupBy operation. So It is nice if Mleap can support frame-based transformation soon.

[2019-07-27 05:45] afsalthaj commented on #477
@femibyte Any updates on this issue?

[2019-07-31 08:08] femibyte opened #542 "Help writing custom transformer in mLeap"
I am working with mLeap and need to write a custom transformer to serialize
a Spark ML pipeline that makes use of SQLTransformer.

I have written the Custom Transformer and its transform function looks like this:

[code]
I'm wondering how to write an Mleap core model for the above.
Specifically, what should the `apply()` function of the case class look like ?

Based on the docs here the core logic

[2019-07-31 09:07] ancasarb commented on #542
Hey @femibyte, how about breaking it down into two transformers:

1. You could have a more straightforward custom transformer

[code]

that basically just replaces all other states except "known states" with a "DEFAULT" string.

2. As a second transformer, I think you can use string map model / transformer https://github.com/combust/mleap/blob/master/mleap-core/src/main/scala/ml/combust/mleap/core

[2019-07-31 09:15] femibyte commented on #542
So I will then have 2 model classes (StateModel and StringMapModel) that I can reference in the Mleap Transformer, Mleap Serialization and Spark Serialization classes as documented here ?

https://github.com/combust/mleap-docs/blob/master/mleap-runtime/custom-transformer.md

[2019-07-31 09:17] ancasarb commented on #542
Yep, the first one (StateModel) you'll need to build the transformers + serialization as described in that guide, the second one (StringMap + StringMapModel) is already built so you can just use it.

[2019-07-31 09:20] femibyte commented on #542
So how many Mleap Transformer, Mleap Serialization and Spark Serialization classes do I need to write, 2 of each ? And what about the Bundle registries ?

[2019-07-31 09:24] femibyte commented on #542
I guess a larger question for me is how the Spark Transformer which takes a Dataset and returns a Dataframe is supposed to map to the Mleap model class. That isn't really clear to me based on the available examples & documentation. If I understood that, things would be a lot clearer.

[2019-07-31 09:26] ancasarb commented on #542
you'll need to write:
1. model class (the one I shared above)
2. Mleap transformer
3. Spark transformer
4. Mleap op - mainly used to deserialize into mleap (but can also serialize)
5. Spark op - mainly used to serialize from Spark (can also deserialize)
6a. update mleap registry, i.e. reference.conf (used at scoring time)
6b. update spark registry

Mleap (and custom transformers implicitly) operat

[2019-07-31 09:29] femibyte commented on #542
Ok, so assuming I wrote the StateModel class, where/how does the StringMapModel class get used ?
Which class gets referenced in the Mleap op and Spark op classes for example - StateModel or StringMapModel ?

[2019-07-31 09:37] femibyte commented on #542
Also, the SQL transformer checks the value of the state column and based on that value, specifies which column of the dataframe to return i.e. CA_Pop, NY_Pop, TX_Pop etc. Is that captured adequately by the StateModel class ? It maps a string to a string and the StringMapModel maps a String to an Integer constant. But the Spark SQL Transformer maps a column to another column. How does the translati

[2019-07-31 09:52] ancasarb commented on #542
You could have a pipeline that looks like this

[code]

I think this would work based on the assumption the population for California is the same regardless whether that state "CA" is in row 4 or row 9 for e.g. right?

[2019-07-31 10:01] femibyte commented on #542
So would the Mleap Transformer look like this ?
[code]

[2019-07-31 10:04] femibyte commented on #542
Yes, each row would represent the CA population for a separate metric e.g. population of cars for 1 row, population of persons, amount of emissions etc.

[2019-07-31 10:06] femibyte commented on #542
Can I just combine them into 1 transformer in the Model file if I did something like:
[code]

[2019-07-31 10:40] ancasarb commented on #542
I guess you could do that, though not sure there's a lot of improvement from doing both transformations in one go.

[2019-07-31 14:28] mtsol opened #543 "Migrating Pyspark Pipeline to Scala not Working"
Hi, my requirement is that I want to save a pyspark pipeline from python, and use it in scala. For this, I adopted Mleap. And now, when I save pipeline in python code, and load it in scala by using mleap library. it gives me transformation error. I'm using LeapFrames in scala and spark dataframe in pyspark (python).  The exception is:
Exception in thread "main" java.lang.ClassCastException: java.l

[2019-08-01 14:32] femibyte commented on #126
How does moving the SQL out of the ML Pipeline help if you're using the SQLTransformer to train a model ?

@seme0021

[2019-08-02 04:15] yaochitc opened #545 "Will batch predicion be supported?"
Seems it is not supported currently. As predict row by row is slow, I just wonder if this feature will be added.

[2019-08-02 07:13] pengteng opened #546 "Exception in thread "main" java.lang.NoClassDefFoundError: com/google/protobuf/GeneratedMessageV3"
您好，我在angle进程上日志报错 ：
LogType:stderr
Log Upload Time:Fri Aug 02 14:21:45 +0800 2019
LogLength:1932
Log Contents:
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option PermSize=100M; support was removed in 8.0
Java HotSpot(TM) 64-Bit Server VM warning: ignoring option MaxPermSize=200M; support was removed in 8.0
Java HotSpot(TM) 64-Bit Server VM warning: UseCMSCompactAtFullCollection is deprecat

[2019-08-02 07:13] #546 closed

[2019-08-06 07:04] #442 closed

[2019-08-06 12:01] femibyte commented on #542
@ancasarb  I've now written all the required classes and I'm trying to build using sbt.
However I get this error:

`[info] Compiling 8 Scala sources to
~/mleap_custom_sql_transformer/target/scala-2.11/classes...
[error] /home/hadoop/femi/mleap_custom_sql_transformer/src/main/scala/MerchAggSelectionMleapOp.scala:21: value state_mod is not a member of object ml.combust.bundle.dsl.Bundle.BuiltinOps.f

[2019-08-06 14:13] mtsol opened #547 "Mleap model not working with continuous and categorical features"
I have the following pyspark pipeline that i want to serialize and after that, I want to use this pipeline in scala for prediction:
string_indexer=StringIndexer(inputCol="DayOfWeek",outputCol="DayIndex")
string_indexer=string_indexer.fit(train_df)
string_indexer3=StringIndexer(inputCol="PdDistrict",outputCol="PdIndexed")
string_indexer3=string_indexer3.fit(train_df)
string_indexer2 = StringIndexer

[2019-08-09 08:54] therajko commented on #442
@cchung100m Were you able to find the solution?

[2019-08-19 15:01] rickbassham opened #548 "Question: Proper way to get schema for row transformer?"
Note that all of my code to do what I'm doing is located at https://gist.github.com/rickbassham/0b8a76b9e2dfd83d2279d0ccb8f897e3 using the `airbnb.model.rf.zip` located at https://raw.githubusercontent.com/combust/mleap/master/mleap-benchmark/src/main/resources/models/airbnb.model.rf.zip.

My question is, what is the proper way to get the schema of a row returned by a RowTransformer? I've started

[2019-08-21 08:08] yaochitc opened #549 "Support multiple input columns for Bucketizer and StringIndexer as with spark."
Currently transformers in spark such as bucketizer and stringindexer have multiple-input support, maybe mleap should keep up with it.

[2019-08-23 10:06] mtsol commented on #495
@xmzhu002552 can you please share further details about this?

[2019-08-23 15:17] yeikel commented on #134
I followed the instructions , but when I lunch it , I get the following exception :

[code]

Any idea?

[2019-08-26 16:07] ancasarb commented on #542
You can just do ```override def opName: String = "state_mod"```

[2019-08-26 16:40] ancasarb commented on #548
I believe that what you're looking for is:

[code]

And then you should update the printing to:

[code]

The issue was that you were trying to use the schema of the deserialized transformer when iterating over the row resulting from the row transformer transformation.

Let me know if you have further questions!

[2019-08-26 16:42] ancasarb commented on #545
Could you please provide a bit more detail on your use case? In which case you've found the row by row prediction slow? Thank you!

[2019-08-26 18:21] ancasarb commented on #547
@mtsol I've tried your example

[code]

and I could serialize the model and deserialize and transform with it in Scala without issues.

In the stack trace you posted

[code]

I can see a VectorIndexer transformer, but I don't see any vector indexers in the pipeline with 4 string indexers, is that from the same pipeline?

Looking at that error makes me think that you probably need to set the strate

[2019-08-26 18:25] ancasarb commented on #543
What are the transformers involved in your pipeline? Serializing a pipeline in Spark and simply deserializing in Scala is definitely possible. I can help take a look if you have a sample pipeline to reproduce the error.

[2019-08-26 19:35] surajnayak opened #550 "Override reference.conf to Support gs FileSystem"
I am using 0.11 version of MLeap and Trying to add support for GS

I checked bundle-hdfs/src/main/resources/reference.conf and found that we can use other schemes like S3 to store the MLeap Bundle in S3. I wanted to add support for Google Storage (GS) scheme.

I created new reference.conf in the server and added it to spark classpath using `--conf spark.executor.extraClassPath="/home/myuser/refere

[2019-08-27 06:07] mtsol commented on #547
You are right, I've resolved the issue, my training data was very small so that some unseen data was occurring during prediction phase

Meanwhile, I'm having trouble writing custom mleap transformers, as a requirement, I want my Spark custom transformer in python.

[2019-08-27 06:07] mtsol commented on #543
Thank you very much, I resolved the issue

[2019-08-27 06:07] #543 closed

[2019-08-27 12:41] mtsol opened #551 "Error serializing a custom pyspark transformer using mleap py4j.protocol.Py4JJavaError: An error occurred while calling o99.serializeToBundle. : java.util.NoSuchElementException: key not found: org.apache.spark.ml.feature.Multiplier"
I'm trying to write a custom transformer in mleap / pyspark.
First of all, I wrote a scala spark transformer which is below:

[code]

Then, I wrote a python wrapper for Multiplier.scala
[code]
Then following the tutorial http://mleap-docs.combust.ml/mleap-runtime/custom-transformer.html
I wrote classes to make as discussed in the tutorial:
1.
[code]
2.

[code]
3.
[code]

4.
[code]

and compiled al

[2019-08-29 09:21] femibyte opened #552 "Python wrapper for Custom transformer"
I'm trying to write a Python wrapper for a custom transformer that I have built in Scala based on
this article:

https://github.com/combust/mleap-docs/blob/master/mleap-runtime/custom-transformer.md

Thus my Spark transformer looks like this

[code]

I am now trying to write a Python wrapper so I can use it in and serialize it to mleap in Pyspark.

I've taken a look at the Pyspark wrappers for sta

[2019-08-29 09:21] femibyte commented on #552
@ancasarb

[2019-08-29 09:45] m-niharika commented on #513
Facing the same issue.
Post Request return the status (HTTP 202),

But GET /models/{modelname}/meta returns the status as (HTTP 404)
Error : ml.combust.mleap.executor.error.NotFoundException: no model with name {modelname}

[2019-08-29 10:01] emaggiori opened #553 "Issues at accessing Tensor elements and more"
I encountered some problems at accessing elements of a sparse tensor, through the function "get". Such function checks if the sought index exists in the list of non-zero elements of the tensor. If it is the case, it returns the element. If it doesn't find it, it returns an error (None). It should return zero though (the sparse array is "filled" with zeroes). An error should only be returned when w

[2019-08-29 10:07] femibyte commented on #551
Which Multiplier class are you trying to serialize the  case class you defined, or what's in org.apache.spark.ml.feature  ?

[2019-08-29 11:21] mtsol commented on #551
@femibyte yes, the final class.

[2019-08-29 11:23] mtsol commented on #551
@femibyte can you help me clarify that when I write a custom spark transformer in scala that contains a transform method and a udf function; with a python wrapper,  do I need to re write the logic in mleap to transform a leap frame?

[2019-08-29 11:25] mtsol commented on #552
I also need help regarding this, because there is not much documentation available for pyspark

[2019-08-29 11:27] mtsol commented on #551
FYI, "org.apache.spark.ml.feature" is just a package name, there is nothing else in this package

[2019-08-31 11:33] juhoautio commented on #552
I created this pyspark wrapper for mleap's StringMap transformer:

https://github.com/juhoautio/NotebookTest/blob/89ca52048297f09cfdff8008f20465d9d01ddad5/mleap_stringmap_python_wrapper.ipynb

Sorry that the code is not cleaned up, but maybe you'll find what you need there.

[2019-08-31 11:36] juhoautio commented on #495
I ended up writing this pyspark wrapper for mleap's StringMap transformer:

https://github.com/juhoautio/NotebookTest/blob/89ca52048297f09cfdff8008f20465d9d01ddad5/mleap_stringmap_python_wrapper.ipynb

[2019-08-31 11:45] juhoautio opened #555 "StringMap to handle missing keys instead of throwing an exception"
`StringIndexerModel` has the property `handleInvalid` with possible values:
- error
- skip
- keep

https://github.com/combust/mleap/blob/feff7105f88abe7ec9954bd834919491b26c170e/mleap-core/src/main/scala/ml/combust/mleap/core/feature/StringIndexerModel.scala#L38-L40

`StringMap` doesn't currently have such property. It always throws an exception if the key is missing in `StringMapModel.labels`, so

[2019-09-02 09:05] ancasarb commented on #555
Hi @juhoautio, sounds like a good plan! Just want to make sure that we keep the default as "error" as to have backwards compatibility and also that the default value is optional during serialization/deserialization.

[2019-09-02 09:09] ancasarb commented on #547
Closing this, as there's another issue open for the Spark custom transformer in python.  https://github.com/combust/mleap/issues/552

[2019-09-02 09:09] #547 closed

[2019-09-02 10:13] juhoautio commented on #555
Great! Can I unit test the backward compatibility with plain code or should I create a zip file with the current version and store it in git?

[2019-09-02 10:18] ancasarb commented on #555
Code should be fine, you can add to StringMapSpec or to StringMapParitySpec (you can create two string map transformer, one with a handle invalid and the default and keep also the existing, without either).

[2019-09-02 15:03] mrmutator opened #556 "Could not initialize class ml.combust.bundle.json.JsonSupport$"
Hi,
I'm using Spark 2.3.2 OR Spark 2.4.4.
When I try to use the SimpleSparkSerializer I get the following exception:

`java.lang.NoClassDefFoundError: Could not initialize class ml.combust.bundle.json.JsonSupport$
	at ml.combust.bundle.serializer.JsonFormatModelSerializer.write(ModelSerializer.scala:48)
	at ml.combust.bundle.serializer.ModelSerializer$$anonfun$write$2$$anonfun$apply$1.apply$mcV$sp

[2019-09-04 04:29] tinaxi opened #557 "[Question] What is the best way to use MLeap XGBoost in python?"
I have a model trainer python project that needs support for serializing XGBoost models. I am trying to call the Scala APIs via the jvm following the [XGBoostClassificationModelParitySpec](https://github.com/combust/mleap/blob/eb8ef4e51c2059bd4cbac76db44be58de958840f/mleap-xgboost-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/mleap/XGBoostClassificationModelParitySpec.scala#L126) example, but

[2019-09-04 05:22] juhoautio commented on #555
@ancasarb @hollinwilkins I don't really know what https://github.com/combust/bundle-protobuf is about, but I don't see anything about handleInvalid/handle_invalid in it, even though it has a StringIndexerOp. Should it be added?

I also noticed that StringMapOp doesn't exist at all in bundle-protobuf. Otherwise I would have expected need to modify it as well, as I'm adding new parameters to StringM

[2019-09-04 06:00] femibyte commented on #551
I didn't have to. What problems/errors are you encountering ?

[2019-09-04 08:25] ancasarb commented on #555
@juhoautio we don't hardcode the attributes for each of the transformers, they're all part of the Attributes map, you can take a look
https://github.com/combust/bundle-protobuf/blob/master/bundle/bundle.proto#L135
and
https://github.com/combust/bundle-protobuf/blob/master/bundle/bundle.proto#L112

[2019-09-04 08:41] ancasarb commented on #557
At the moment, we have support for xgboost in Scala, haven't tried it from python. There's some discussion on supporting custom transformers from python, which I'm not sure, but may help https://github.com/combust/mleap/issues/552. If you

[2019-09-04 08:42] ancasarb commented on #556
hey @mrmutator could you please provide a small sample pipeline where you have seen this error, to help understand what's the issue? thank you!

[2019-09-05 00:05] femibyte commented on #542
I realized that I had to add this line

`var state_mod = "state_mod"`

in

_bundle-ml/src/main/scala/ml/combust/bundle/dsl/Bundle.scala_

and then rebuild the jar

[2019-09-05 09:54] emaggiori commented on #553
@ancasarb

[2019-09-06 12:45] samikrc commented on #423
Hi @ancasarb, the pull request [https://github.com/combust/mleap/pull/536] has been ready for sometime. Can you or someone please take a look and see if things are alright?

[2019-09-06 13:23] ancasarb commented on #423
sorry, yes I will take a look over the weekend.

[2019-09-06 23:56] lucagiovagnoli opened #559 "Deserialize Scikit Pipeline NotImplementedError"
Deserialization of scikit pipelines seems not implemented see https://github.com/combust/mleap/blob/d276c1c800277a1edcf30dda6e8559c7413b21f8/python/mleap/sklearn/pipeline.py#L121

[2019-09-07 00:02] lucagiovagnoli opened #560 "Deserialization with multiple input_features fail"
I haven't manage to deserialize a scikit Logistic node with multiple input_features such as
[code]

Reading from python using deserialize_from_bundle [here](https://github.com/combust/mleap/blob/d276c1c800277a1edcf30dda6e8559c7413b21f8/python/mleap/sklearn/logistic.py#L37) I get:

[code]

while reading using PySpark (going through Scala):
[code]

Seems that both expect that field to be a single st

[2019-09-10 08:11] lsqeric opened #561 "java.util.NoSuchElementException: None.get"

[2019-09-10 19:57] changhiskhan opened #562 "[xgboost][databricks][scala] key not found xgboost.regression"
Hi, I was wondering if this is a known issue or if I'm doing something obviously wrong.

I'm on a databricks runtime 5.4 ML cluster with a scala notebook. I'm essentially trying to reproduce one of the [mleap-xgboost-spark unit tests](https://github.com/combust/mleap/blob/master/mleap-xgboost-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/mleap/XGBoostRegressionModelParitySpec.scala) but it fa

[2019-09-11 06:19] yaochitc commented on #545
I'm using mleap with a deep learning based ranking model developed by bigdl,  I need to score hunderds of items for each user. If the score process for one user is executed in a single batch, the prediction time is much shorter.

[2019-09-13 10:48] ancasarb commented on #561
@lsqeric could you please add more detail? you can then re-open the issue. thank you!

[2019-09-13 10:48] #561 closed

[2019-09-13 15:28] prashant-shetty-sp commented on #376
I found the MLeap serving doc (http://mleap-docs.combust.ml/mleap-serving/) really helpful for scoring. the page doesn't talk about how to call via Java. but there are pages on the website that talk about how to construct the input leapframe

[2019-09-13 15:28] yilongl opened #563 "java.nio.file.FileSystemNotFoundException: Provider "hdfs" not installed when loadMleapBundle"
Hi Experts,
Is it possible to load the model saved in hdfs? When I tried using the following code:
val mleapPipeline = (for(bf <- managed(BundleFile("jar:hdfs:///tmp/pipeline.zip"))) yield {
  bf.loadMleapBundle().get.root
}).tried.get

I got the following error:
java.nio.file.FileSystemNotFoundException: Provider "hdfs" not installed
  at java.nio.file.Paths.get(Paths.java:147)
  at com.sun.nio.z

[2019-09-13 20:47] lucagiovagnoli commented on #560
What are we expected to pass in `input_features` ?
Any deserializer expects a string to be there, what should I put for multiple features ?

[2019-09-13 21:28] lucagiovagnoli opened #564 "`unicode` not py3 compatible"
unicode is not py3 compatible. We could use six.string_types to maintain compatibility for both python versions when dealing with strings?

[code]

[2019-09-13 23:43] lucagiovagnoli opened #566 "Support python 3"
I tried to run tests using python 3.6 and 12 failed.

[code]

[2019-09-15 08:22] ancasarb commented on #555
PR has been merged, closing issue.

[2019-09-15 08:22] #555 closed

[2019-09-15 08:22] ancasarb commented on #384
support for LinearSVC model has been added, closing issue.

[2019-09-15 08:22] #384 closed

[2019-09-15 08:22] ancasarb commented on #423
support for LinearSVC model has been added, closing issue.

[2019-09-15 08:22] #423 closed

[2019-09-15 10:51] ancasarb commented on #179
Closing, PR has been merged.

[2019-09-15 10:51] #179 closed

[2019-09-15 12:06] #564 closed

[2019-09-16 02:36] zengyaowu commented on #471
---------------------------------------------------------------------------------------------------
How much faster after the modification?  I have the same problem，When predict, it will often rise from 20 milliseconds to hundreds of milliseconds by chance.

[2019-09-20 01:20] lucagiovagnoli commented on #560
For future reference, it seems that the [FeatureExtractor](https://github.com/combust/mleap/blob/30c1ce2c7e5ca81492514e1eadd79a8ec1b10a7a/python/mleap/sklearn/preprocessing/data.py#L195) step from the [docs](http://mleap-docs.combust.ml/scikit-learn/) solves this.

[2019-09-20 01:20] #560 closed

[2019-09-23 21:03] mengxr commented on #562
@changhiskhan "xgboost.regression" is defined in `mleap-xgboost-runtime`, which is not part of the mleap assembly jar installed on Databricks. You can try the following workaround:

On a Databricks Runtime 5.5 ML cluster, install the following libraries:
* `com.jsuereth:scala-arm_2.11:2.0`
* `ml.combust.mleap:mleap-xgboost-runtime_2.11:0.13.0` excludes `ml.combust.mleap:mleap-runtime_2.11,ml.dmlc:

[2019-09-24 07:38] ancasarb commented on #542
@femibyte glad you got it working, is it ok to close this issue?

[2019-09-24 07:47] ancasarb commented on #551
@mtsol did you update the reference.conf to include this new transformer?

[2019-09-24 08:24] ancasarb opened #570 "Add support for spark-extensions transformers in Pyspark"
Creating this parent issue to track progress on adding support for spark-extensions transformers in Pyspark.

- [x] Support for StringMap
- [ ] Support for MathBinary
- [ ] Support for MathUnary
- [ ] Support for WordLengthFilter
- [ ] Support for MultinomialLabeler
- [ ] Support for Imputer
- [ ] Support for OneVsRest
- [ ] Support for SupportVectorMachine
- [ ] Add unit test support for Pyspark

[2019-09-24 08:40] ancasarb commented on #551
@mtsol @femibyte As we're starting to add support for spark-extensions transformers in Pyspark, I've created https://github.com/combust/mleap/issues/570 to track this development, could you please follow that issue and add comments or questions to it regarding custom transformers in Pyspark? Thank you!

[2019-09-24 08:40] #551 closed

[2019-09-24 08:40] #552 closed

[2019-09-24 08:40] ancasarb commented on #477
@femibyte @koldkoder @afsalthaj As we're starting to add support for spark-extensions transformers in Pyspark, I've created https://github.com/combust/mleap/issues/570 to track this development, could you please follow that issue and add comments or questions to it regarding custom transformers in Pyspark? Thank you!

[2019-09-24 08:40] #477 closed

[2019-09-24 08:42] ancasarb commented on #495
@xmzhu002552 @yairdata As we're starting to add support for spark-extensions transformers in Pyspark, I've created https://github.com/combust/mleap/issues/570 to track this development, could you please follow that issue and add comments or questions to it regarding custom transformers in Pyspark? Thank you!

[2019-09-24 08:42] #495 closed

[2019-09-24 08:46] ancasarb commented on #503
Closing this, please re-open if you still have any questions.

[2019-09-24 08:46] #503 closed

[2019-09-24 08:47] ancasarb commented on #487
Closing this, please re-open if you have any additional questions.

[2019-09-24 08:47] #487 closed

[2019-09-24 08:48] #478 closed

[2019-09-24 08:51] ancasarb commented on #537
There are some TF examples in our unit tests https://github.com/combust/mleap/tree/master/mleap-tensorflow/src/test/scala/ml/combust/mleap/tensorflow. Please let me know if you have any questions.

[2019-09-24 09:02] ancasarb commented on #563
@yilongl looks like issue this is similar to https://github.com/combust/mleap/issues/420, let's use #420 to track this issue.

[2019-09-24 09:02] #563 closed

[2019-09-24 09:03] ancasarb commented on #400
Closing this, please see more details in #379.

[2019-09-24 09:03] #400 closed

[2019-09-24 09:04] ancasarb commented on #454
Closing this, please see more details on https://github.com/combust/mleap/issues/379.

[2019-09-24 09:12] mtsol commented on #551
yes i updated the reference.conf file

[2019-09-24 09:12] mtsol commented on #570
how long will it take?

[2019-09-24 11:48] juhoautio commented on #570
I have added most of the building blocks for that here: https://github.com/combust/mleap/pull/571

[2019-09-25 08:32] changhiskhan commented on #562
Thanks @mengxr ! I will give this a shot asap.

[2019-09-25 09:32] ancasarb commented on #562
hey @changhiskhan @mengxr apologies for the late response, there are two jars relating to xgboost: mleap-xgboost-runtime (that is used by mleap to do the scoring, and you can use this if you're actually building an MLeap pipeline) and mleap-xgboost-spark, this is the one you need to add in Databricks in order to use within Spark pipelines, it has all the necessary dependencies. Could you please gi

[2019-09-27 21:17] #566 closed

[2019-09-27 21:18] ancasarb commented on #566
@lucagiovagnoli Sorry, merging the PR closed this issue automatically, was there anything else required for this issue?

[2019-09-27 21:31] lucagiovagnoli commented on #566
No that's perfect. Thanks!

[2019-09-28 07:16] juhoautio opened #573 "Flaky tests "throttling" in GrpcSpec"
In `transform row stream` of TransformServiceSpec:
https://travis-ci.org/combust/mleap/builds/590427424#L4478-L4493

[info]   transform row stream
4479[info]   - transforms rows in a stream
4480[info]     throttling
4481[info]     - throttles elements through the flow *** FAILED ***
4482[info]       java.lang.AssertionError: assertion failed: expected OnNext(2), found OnNext(3)

Also previously di

[2019-10-03 10:42] ikiw commented on #238
@spaszek : were you able to resolve it ? i too get the same issue on adding xgdboost.

[2019-10-10 04:57] shivadasharathi commented on #559
Hi,
any idea as to when the deserialization implementation for the pipeline will be available? or any suggestion for custom implementation?

[2019-10-12 07:54] CatTail opened #576 "mleap-xgboost-runtime do not support Scala 2.12"
I'm using Scala 2.12, from maven I can see that mleap-runtime publish 0.14.0 version which support Scala 2.12 but mleap-xgboost-runtime do not publish 0.14.0. Can someone help to publish 0.14.0 version of mleap-xgboost-runtime to support Scala 2.12? Thanks.

[2019-10-13 00:45] CatTail commented on #471
Hey @ancasarb can you help to answer this question?

[2019-10-14 03:06] LDH007 opened #577 "Can't Serialize Pipeline Model to Bundle.ML"
my env:
spark version:2.4.4
scala version:2.11.12

first start spark
./bin/spark-shell --jars config-1.3.4.jar,scala-arm_2.12-2.0.jar,scala-library-2.12.8.jar,scala-util_2.12-1.13.6.jar,bundle-ml_2.11-0.1.1.jar --packages ml.combust.mleap:mleap-spark_2.11:0.14.0 --master local[*]
 then the code is

import ml.combust.mleap.spark.SparkSupport._
import ml.combust.bundle.BundleFile
import org.apache.s

[2019-10-14 05:08] #577 closed

[2019-10-15 19:52] femibyte opened #578 "Mleap Spring Boot Airbnb example Failing"
Hi, I'm trying to score a request using Mleap Spring Boot as per instructions here:

https://github.com/combust/mleap-docs/blob/master/mleap-serving/index.md

[code]

But I'm getting this Exception:

[code]
The value of $body I'm using looks like this:

[code]

No matter what I do, I can't get this airbnb example to run properly.
It's extremely frustrating.
Can someone post what a valid value of $

[2019-10-16 09:08] femibyte commented on #467
I'm having the same problems. No matter what I do, I can't get this airbnb example to run properly.
It's extremely frustrating.
Can you post what a valid value of $body or $ENCODED_LEAP_FRAME looks like ?

@ancasarb

[2019-10-17 12:05] ancasarb commented on #578
hey @femibyte

Given a leap frame like the one below for example

[code]

you can do either

```FrameWriter(frame, BuiltinFormats.json).toBytes().get``` (for json encoded)

or

```FrameWriter(frame, BuiltinFormats.binary).toBytes().get``` (for protobuf encoded)

to get the encoded leap frame, that you can then use in a transform request

[code]

in a request to "/models/transform" endpoint.

You c

[2019-10-17 12:06] ancasarb commented on #467
@femibyte I replied to your question on the other issue raised #578

[2019-10-17 12:24] CatTail commented on #576
Hi @ancasarb, can you help to publish a new version of mleap-xgboost-runtime that support Scala 2.12?

[2019-10-22 07:11] femibyte opened #583 "Using Mleap Spring Boot to score using Custom Transformer"
Hi, I'm getting the following error when I try to score data using mleap-spring-boot for a custom transformer that I've written :
[code]

As far as I can see, this is possibly to be a jar incompatibility issue. Can someone provide any pointers?

The call looks like this to the running docker container:

```curl --header "Content-Type: application/json"   --request POST   --data "$REQ_DATA" http://

[2019-10-22 07:26] femibyte commented on #578
How do I get the encoded form to use in a curl request ?
I mainly use Python, Scala not as much.

[2019-10-22 09:06] Alucardmini commented on #577
Hi, I meet the same problem, Can you tell me how to make it work?

[2019-10-22 09:16] Alucardmini commented on #223
I meet this problem,too.

[2019-10-22 11:08] femibyte commented on #583
Is there any way to obtain the Dockerfile used to create the Spring boot image so I can try building it with a more recent version of Scala 11 ? It's building it with `org.scala-lang.scala-library-2.11.8.jar` in the /opt/docker/lib directory.

[2019-10-22 11:54] Alucardmini opened #584 "How to save PiplineModel to hdfs?"
Here is my code :
` val formula = new RFormula()
      .setFormula("labelFlag ~ partTime + workTime + downLoadCnt + age_Index + sex_Index + sexOrient_Index + cityLevel_Index + house_Index + car_Index " +
        "+ occupation_Index + education_Index + life_Index + incomeLevel_Index + industry_Index + consumeLevel_Index")
      .setFeaturesCol("features")
      .setLabelCol("label")

    stages.app

[2019-10-22 13:57] femibyte commented on #583
Has anyone gotten this to work other than the provided Airbnb example ? The error seems to indicate some inconsistencies in the jar files. If the Dockerfile can be provided, I can work my way through the issues I'm having.
@hollinwilkins @ancasarb

[2019-10-24 20:30] ancasarb commented on #576
Actually, it's the underlying xgboost dependencies that only support 2.11, so that's why we haven't published the two mleap xgboost libraries for 2.12.

[2019-10-24 20:45] #562 closed

[2019-10-30 03:21] qspeng opened #585 "Does mleap serving support libsvm format(the sparse way)?"
Hello, I saw the mleapSparseTensorFormat on the json support, but how can I use this?
I've tried this way:
{
  "schema": {
    "fields": [{
      "name": "features",
      "type": {
        "type": "tensor",
      	"dimensions": [132],
      	"base": "double"
      }
    }]
  },
  "rows": [[
  	1,3,13,61,111,122,1, 1, 0, 0, 1, 1
  ]]
}
but it doesn't work for me?

[2019-10-30 08:08] qspeng opened #586 "spring boot serving compile failed"
Hello, I've done the spring boot serving code and try to start it local. But I found the compile error like these:
`Model.toJavaProto(model)`
[code]

I get this is generated by ScalaPB, but there is no proto files to generated, can you guys offering these completed files?

[2019-10-30 22:00] ancasarb commented on #525
PR merged, will be included in the new release

[2019-10-30 22:00] #525 closed

[2019-10-31 02:49] cappaberra commented on #525
@ancasarb, do you anticipate writing accompanying documentation for this feature?  It sounds interesting for sure.  We currently use a complimentary tool that helps manage the state of MLeap (kind of wraps around MLeap in a way), so we always know what models are running.  That said, it looks like this functionality could be useful, too, in a more native way!

[2019-11-01 09:33] ancasarb commented on #586
hey @qspeng, the proto files are under https://github.com/combust/bundle-protobuf, see the info here https://github.com/combust/mleap-docs/blob/master/getting-started/building.md about building from source, you need to do the submodule init commands. hope this helps!

[2019-11-01 10:09] ancasarb commented on #525
hey @cappaberra, I've updated the doc in this PR https://github.com/combust/mleap/pull/589. thanks!

[2019-11-01 10:22] ancasarb commented on #583
@femibyte we use the DockerPlugin to generate the docker files, if you want a different version of scala, you can update it here https://github.com/combust/mleap/blob/master/project/Common.scala and re-build the image.

[2019-11-09 00:26] a-p-o commented on #461
@ancasarb What is the recommended alternative if the PyPi project is not updated?

[2019-11-11 19:26] a-p-o commented on #461
For anyone else having this issue, my work around is to clone the repo at the version I want:

[code]

[2019-11-12 10:12] psc0606 commented on #550
anyone can help?  @hollinwilkins

[2019-11-12 22:01] talalryz opened #594 "Everything gets converted to Double"
I serialized a scikit model in python, using a dataset with the following schema,
TOY_DATA_SCHEMA = StructType(
    [
        StructField("long_feature", LongType()),
        StructField("double_feature", DoubleType()),
        StructField("boolean_feature", BooleanType()),
        StructField("label", BooleanType()),
    ]
)

When I deserialize in scala, and look at `model.inputSchema`, i get the

[2019-11-13 16:02] TotalForgot opened #595 "Loading Mleap models from external file systems"
Dear experts,

We noticed that MLeap-serving only support loading models, if and only if, the model is accessible in local file system to MLeap-serving server.
This strongly limits the usage of MLeap server, especially in distributed environment.
We just wonder if this is still true for the newest version of MLeap?
And if it NO, how is it possible to use standard distributed file systems to store

[2019-11-13 20:42] talalryz opened #596 "xgboost raw predictions after deserialization differ in python vs scala"
I trained a large xgboost model and serialized it into an mleap bundle.  Then i deserialized the same bundle in both python and scala to compare their predictions. However, the raw predictions are off.
**Python output**
`[Row(features=SparseVector(125, {0: 1.0, 1: 0.0191, 2: 0.0189, 3: 0.0242, 4: 0.0222, 5: 6424254.0, 6: 0.0183, 7: 11303230.0, 8: 0.0, 9: 0.9484, 10: 0.0, 11: 0.0, 12: 0.0, 13: 0.01

[2019-11-14 02:52] psc0606 opened #597 "Mleap transform not support null values."
I get this error, when i use mleap bundle model.  because one of input value is missing. But the mleap cannot process this problem. Anyone can help？
`scala.MatchError: null
	at ml.combust.mleap.core.feature.VectorAssemblerModel$$anonfun$apply$3.apply(VectorAssemblerModel.scala:37)
	at ml.combust.mleap.core.feature.VectorAssemblerModel$$anonfun$apply$3.apply(VectorAssemblerModel.scala:37)
	at scala

[2019-11-14 03:18] psc0606 commented on #597
@hollinwilkins

[2019-11-14 19:25] talalryz commented on #596
I also tried making predictions using the underlying `XGBoostClassificationModel.booster` and got predictions that were much closer to the ones in python. However, these are still off by a bit
Using the following code,
[code]
i get:
Probability: 0.97861811, 0.02138189

[2019-11-14 23:11] lucagiovagnoli commented on #596
I wonder what the average difference between probabilities `scala vs. python` and its standard deviation looks like on `n` complex models? Or how many significant digits can we expect to be reliable ? (Looks like only the first one..)

[2019-11-15 00:34] bali0019 opened #598 "Support Date/Timestamp data types"
Is there a reason date/timestamp Data types are not supported?

[2019-11-15 08:55] topxxuki opened #599 "how to use mleap model to do prediction?"
i just run the image and put a model to localhost:65327,the question is how can i use this model to do prediction?
[code]

[2019-11-19 10:22] hdamani09 opened #601 "CrossValidator issue : Column prediction must be of type double but was actually int"
Hello,
I'm training a model by leveraging the **OneVsRest** transformer provided by **MLeap 0.15.0** for Spark 2.4.3 with the classifier as LinearSVC for **multiclassification** problem. When, I'm trying to pass the paramgrid along with the pipeline which contains the OneVsRest instance, the prediction its returning is of IntegerType whereas I assume **CrossValidator** (being used for hyperparamet

[2019-11-19 15:38] psc0606 opened #602 "MathBinary has some bug"
I use mleap to save to bundle zip file, but when I get input schema,  I miss the `MathBinary ` tranformer's input StructFeild, anyone can help?

[2019-11-21 08:39] hdamani09 opened #603 "OneVsRest Issue with MLeap 0.14.0 , 0.15.0"
Spark Version - 2.4.3

Hi,
I have a pipeline configured with the following sparkML transformers & algorithms. I have been trying to solve a multiclassification problem using LinearSVC & OneVSRest.

[code]

I need to serialize the pipelineModel to deploy it on sagemaker. So, if I try to use **sparkMLOVR** instance in the pipeline it doesn't work. I switched to **mLeapOVR** instance and used the fol

[2019-11-21 22:27] talalryz opened #604 "xgboost predicted probabilities match upto only 7 significant digits"
For my xgboost model, predicted probabilities for the non-serialized and serialized model match only upto 7 significant digits. I also noticed that in the xgboost tests for mleap, we're only checking that the predicted  differ by < 1e-7 here: https://github.com/combust/mleap/blob/7b40eb7bf00802a0f3dc564bca61e7736bcd0404/mleap-xgboost-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/mleap/XGBoost

[2019-11-22 09:50] psc0606 commented on #471
mleap run on xgboost is really slow.

[2019-11-23 00:26] talalryz commented on #604
This is happening because scala floats are 32 bit IEEE-754, so anything after 7 significant digits is made up!!
https://www.scala-lang.org/api/2.12.3/scala/Float.html

[2019-11-23 00:26] #604 closed

[2019-11-23 00:32] lucagiovagnoli commented on #604
@talalryz it's not an option to use doubles ?
isn't this a Double tensor ?
https://github.com/combust/mleap/blob/7b40eb7bf00802a0f3dc564bca61e7736bcd0404/mleap-xgboost-spark/src/test/scala/ml/dmlc/xgboost4j/scala/spark/mleap/XGBoostClassificationModelParitySpec.scala#L99

[2019-11-23 01:36] talalryz commented on #604
@lucagiovagnoli The problem lies in dmlc xgboost itself. The booster returns a scala Float, which then gets cast into a Double by mleap. So, anything after the first 7 significant digits is garbage

[2019-11-25 07:20] llKetanll commented on #598
+1

[2019-11-25 18:31] ancasarb commented on #485
I've release the python mleap version 0.15.0 just today, fyi https://pypi.org/project/mleap/#history, please let me know if you see any issues.

[2019-11-25 18:31] #485 closed

[2019-11-25 18:32] ancasarb commented on #461
I've release the python mleap version 0.15.0 just today, fyi https://pypi.org/project/mleap/#history, please let me know if you see any issues.

[2019-11-25 18:32] #461 closed

[2019-11-26 08:51] vincentclaes opened #607 "Deserialize bundle in python"
I have a "bundle.zip" serialized from pyspark.
I want to deserialize this pipeline object in my python application without needing a spark context.
according to the documentation this is possible:

`Execute Spark ML Pipelines without the dependency on the spark context, distributed data frames, and costly execution plans`
http://mleap-docs.combust.ml/mleap-runtime/

but in the code and the documen

[2019-11-26 21:35] ancasarb commented on #602
Could you please post an example of how you're using MathBinary transformer? We have https://github.com/combust/mleap/blob/372cfa59991527c1a43efa75d8915cca7c3f1b23/mleap-spark-extension/src/test/scala/org/apache/spark/ml/mleap/parity/feature/MathBinaryParitySpec.scala that shows a working example, for reference.

[2019-11-26 22:29] ancasarb commented on #607
To deserialized a bundle to a Spark pipeline you can do

[code]

If you're looking for mleap scoring (using the mleap-runtime maven dependency), that is supported at the moment from JVM only, for e.g. Scala.

[2019-11-26 22:32] ancasarb commented on #599
See if you can follow https://github.com/combust/mleap/tree/master/mleap-spring-boot and use the most recently released version 0.15.0, the easiest would be to do this, as mentioned in that README.md file

[code]

[2019-11-26 22:34] ancasarb commented on #576
Closing this for now, will do the upgrade once the underlying dependency supports scala 2.12.

[2019-11-26 22:34] #576 closed

[2019-11-26 22:34] ancasarb commented on #548
Closing this, please re-open if you have additional questions!

[2019-11-26 22:34] #548 closed

[2019-11-26 22:35] ancasarb commented on #586
Closing this, please re-open if you are still seeing issues. The proto files are linked to above.

[2019-11-26 22:35] #586 closed

[2019-11-26 22:39] ancasarb commented on #510
Closing this, I believe the answer above would solve the issue, please re-open if you're still not finding this to be the case.

[2019-11-26 22:39] #510 closed

[2019-11-26 22:43] ancasarb commented on #504
Closing this, please re-open if you find that the above solution doesn't quite meet your needs and happy to discuss this further! Thank you!

[2019-11-26 22:43] #504 closed

[2019-11-26 22:54] ancasarb commented on #594
Hey, could you please provide the example scikit-learn pipeline? It definitely shouldn't be the case that everything gets converted to a double.

[2019-11-26 22:56] ancasarb commented on #598
How would the date/timestamp data types be used? In the past, I've created custom transformers to extract day/month/year/day_of_the_week, etc. from a date string, would something like this work in the pipelines you are using?

[2019-11-26 22:58] ancasarb commented on #486
Closing this, please feel free to re-open if you still have additional questions. Thank you!

[2019-11-26 22:58] #486 closed

[2019-11-26 23:28] llKetanll commented on #598
I just created a custom transformer that parses date string and constructs some of the date features. It is actually quite simple.

Here is an example of the core model:
[code]

[2019-11-27 02:51] topxxuki opened #608 "The requested resource could not be found. when use the same model by "uri" and "path""
i start a image like this:
`docker run -p 65327:65327  -v /tmp:/models combustml/mleap-serving:0.9.0-SNAPSHOT
`
files under /tmp are:
![image](https://user-images.githubusercontent.com/18697846/69689263-6bd64500-1103-11ea-9eba-71a42fc7fae5.png)

here is my question:
i can put a model like this:
[code]
it returns :
{}%

but when i try to put a model like:
[code]
it returns :
The requested resource

[2019-11-27 07:16] vincentclaes commented on #607
I need to import an object from the Mleap library to find `deserializeFromBundle`

[code]
but if i execute this i get the message:

`{AttributeError}Cannot load _jvm from SparkContext. Is SparkContext initialized?`

I chose Mleap so that i could run  my pipeline object without the spark context.
to me, this statement from the documentation is misleading:

_Execute Spark ML Pipelines without the de

[2019-11-27 19:09] lucmascia opened #609 "Azure Databricks Pyspark - java.nio.file.NoSuchFileException"
Hey everyone,

I'm trying to implement MLeap on my Azure Databricks pyspark notebook to export my pipeline model to our hystory zone on our azure datalake gen 2 - which is mounted to my databricks - and, later on, import on another notebook. However, when i run the command **serializeToBundle** an error is raised. I have searched everywhere and tried my best to look at all the issues here already

[2019-12-02 21:56] talalryz commented on #594
@ancasarb

here is a small example,

This is the dataset
[code]

- Training and serialization

[code]

- Deserialization and schema printing

[code]
This is the output i get

[code]

[2019-12-03 03:43] femibyte commented on #583
I solved this issue. The error had to do with the op specified in my model.
This was because my Op file MyModelOp.scala had this setting:

`override def opName: String = Bundle.BuiltinOps.feature.string_map`

I was specifying `stringmap` from the example which was mapped to `StringMapModel.scala` which ended up looking for the `labels` key.
The fix was to change the file and retrain the model.

[2019-12-03 03:43] #583 closed

[2019-12-03 03:47] femibyte opened #610 "Error running custom transformer model in spring-boot"
I'm getting an error while trying to run my serialized model on spring-boot.
[code]

The stack trace looks like this:
[code]

Can anyone suggest how I can debug this ? I call a udf as follows :
`override val exec: UserDefinedFunction = (columns: Seq[String]) => model(columns)`

[2019-12-03 04:26] femibyte commented on #610
Come to think of it, I haven't seen any mleap transformers where there are multiple input columns. Is that the problem ? @ancasarb

[2019-12-04 09:29] femibyte commented on #578
Finally got it to work.

[2019-12-04 09:29] #578 closed

[2019-12-04 10:09] Yodeser commented on #471
Hello @marsbible . Is there any example of how to use RowTransformer(batch predict) ?

[2019-12-05 05:22] ogrygorian-clgx opened #611 "mleap with LightGBM"
Hi, I wonder if there is support for LightGBM in mleap, if yes, can you pls point me to some example? Thank you!

[2019-12-06 08:10] lucagiovagnoli commented on #594
@ancasarb do you know if this is expected ?

[2019-12-09 07:46] llKetanll opened #612 "How to add custom transformer to mleap-serving docker"
Need some clarity,

This is what I did:
- Define custom transformer classes (Core, spark, sparkOp, mleap-runtime, mleapOp)
- Added both spark and mleap to `reference.conf`
- sbt package (creates the jar for me)
- Was able to run the transformer in spark (adding the jar created by sbt to spark)

After this I tried to load bundle in the spring-boot docker container and realized that the mleap-spring

[2019-12-09 09:11] femibyte commented on #612
Yes, that's what I'm doing (though I have other errors)
The line in my Dockerfile is 👍

`COPY mycustomtransformer.jar /opt/docker/lib`

[2019-12-09 09:14] llKetanll commented on #612
@femibyte I was looking the startup script in `/opt/docker/bin` it seemed like the classpaths were hardcoded. Does it pick the custom jars?

[2019-12-09 09:39] femibyte commented on #612
Yeah, the way I got around that was by taking the existing `mleap-spring-boot` file, modifying it to use the jars I want and renaming it to `mleap-spring-boot-custom`.
Then in my Dockerfile, I have
[code]

[2019-12-10 18:00] femibyte opened #613 "Error deserializing mleap bundle"
I'm trying to de-serialize the airbnb sample model file and getting an error:

[code]

[2019-12-11 23:26] tinaxi opened #614 "Error deserializing Scikit-learn LogisticRegression with Spark"
I am training and serializing a scikit-learn Pipeline that contains a FeatureExtractor and a LogisticRegression, and I am using Spark to deserialize it in Python. But when I tried to run predict function on the deserialized pipeline model, I encountered an error saying `java.util.NoSuchElementException: Failed to find a default value for threshold`. Below is the full error log:

[code]

If I under

[2019-12-12 03:02] topxxuki commented on #599
i start a image like this:
docker run -p 65327:65327 -v /tmp:/models combustml/mleap-serving:0.9.0-SNAPSHOT
files under /tmp are:
image

here is my question:
i can put a model like this:

curl -XPUT -H "content-type: application/json" \
-d '{"path":"/models/lr-pipeline.zip"}' http://localhost:65327/model
it returns :
{}%

but when i try to put a model like:

curl --header "Content-Type: applicatio

[2019-12-16 17:40] llKetanll opened #616 "Issues with custom transformer serialization"
I ran into this exception and don't seem to be able to identify the root cause. Am I missing any dependencies?

Project Structure:
[code]

Dependencies for `xyz-spark`

[code]

Dependencies for `xyz-mleap`

[code]

Dependencies for `xyz-examples`

[code]

Content for `xyz-spark/src/main/resources/reference.conf`
[code]

Content for `xyz-mleap/src/main/resources/reference.conf`
[code]

Content for

[2019-12-16 21:21] voganrc opened #617 "Import broken with scikit-learn>=0.22"
The `Imputer` class imported here:

https://github.com/combust/mleap/blob/beb4fd248e020282f10778c91d68a3518e981dcb/python/mleap/sklearn/extensions/data.py#L24

Was removed in scikit-learn version 0.22 as mentioned here:

https://github.com/scikit-learn/scikit-learn/blob/ee328faa3601b40944ad43e28bce71860d39f2de/sklearn/preprocessing/imputation.py#L60

[2019-12-20 05:22] Ben-Epstein opened #618 "MLeap Transformer schema is wrong"
After creating a PySpark model and serializing it to a bundle, I try to read in the MLeap transformer and make a prediction but the prediction is wrong.

Upon investigation, I've found that the inputSchema of the model has been modified, so the features are in the wrong order. If you simply print out the PipelineModel, it shows the features in the correct order, but calling inputSchema gives an in

[2019-12-24 07:15] a524631266 commented on #238
I have solved it by adding the jar package of  scala-library-2.11.12.jar into the LivyConfig
such as:
in $LIVY_HOME/conf
livy.repl.jars = ****.jar(some jars),~/spark-2.4.0-bin-hadoop2.6/jars/scala-library-2.11.12.jar

[2019-12-31 08:23] psc0606 commented on #471
I have do some test. The bottleneck of the performance is XGBoostClassification call many times predictions by XGboost. In default, It will call `rawPrediction`, `probability`, `prediction`, `leafPrediction`,  `contribPrediction`.  That's the reason why xgboost runtime transform bad performance. So you should change the source code to comment it.

Another, the batch prediction only gain 10% improv

[2019-12-31 11:56] mtsol opened #619 "mleap only supports java 8, why?"
Hi, Java 13 is released and mleap still supports Java 8, not even Java 9. When you guys are going to upgrade this thing or will you always be stuck at Java 8? Or If I want to use mleap for Java 9 or 10 then what can I do to upgrade it. In short, when will mleap upgrade itself?

[2020-01-02 12:56] mtsol opened #620 "How Get Actual Values from Dense/Sparse Tensor"
VectorAssembler gives this output DenseTensor([D@36b6964d,List(5)). I have OneHotEncoders in my pipeline. I need to get the actual values out of this DenseTense. sometimes it gives sparse tensor and some times it gives dense tensor. My spark pipeline in python is
[code]

And it gives and output of this kind;
+---+-------+------+------+--------------+--------------+--------------+--------------+---

[2020-01-08 10:14] marvinxu-free commented on #117
hot to get tensor value in java with index?

[2020-01-08 18:34] femibyte opened #621 "Support for mleap issues - can we pay for it ?"
Anyone else frustrated like me at the lack of mleap support ? I'm desperate enough that I'm willing to pay the creators to help get my issues resolved.

[2020-01-09 06:20] marvinxu-free commented on #339
seems not resolved?

[2020-01-10 03:33] marvinxu-free opened #622 "mleap model predict probability is not same between spark predict and local load model with same data"
i write two test cases, first is a spark test case which generate a mleap zip model to local; second test case is a java test case, which load the zip model and predict on sampe data from test1's dataframe, but the probability is not same, here is my code:

test1:

`package com.zenmen.wkread.pmmlModel.ctrModel

import com.zenmen.wkread.SparkFunSuite
import org.apache.spark.ml.classification.{Logis

[2020-01-11 14:35] marvinxu-free opened #623 "MinMaxScalerNodel bug not fixed for 0.11 version?"
it seems that this bug not fixed for 0.11 version with this case: #489

[2020-01-12 23:31] ancasarb commented on #613
@femibyte could you please do ```val bundle = (for(bundle <- managed(BundleFile(bundlePath5))) yield {
      bundle.loadMleapBundle().get
    }).tried.get``` to expose an error?

Could you provide a bit more details, for example, which version of mleap are you using?

[2020-01-12 23:51] ancasarb commented on #623
I believe you need to use mleap 0.14 or 0.15 to get the fix, could you please give it a try? we've not introduced any backwards compatibility issues in the latest mleap versions so you should be able to use the newer versions without issues. Let me know if you need further help.

[2020-01-12 23:53] ancasarb commented on #621
Apologies for the delay in answering some of the issues, could I please ask which ones you'd need help with? Apologies again!

[2020-01-13 00:00] ancasarb commented on #619
Hi @mtsol, it's because Spark 2.4.x supports Java 8 and mleap jars need to be loaded on Spark so that the serialization can be done. Nonetheless, I think you can use the mleap jars that use Java 8 from higher Java versions (9,10,11), have you given it a try?

[2020-01-13 00:01] ancasarb commented on #475
I believe that Spark 2.4.x is using Java 8, so once Spark 3 is released, we can take a look at upgrading mleap as well.

[2020-01-13 00:12] ancasarb commented on #617
At the moment, we have scikit-learn pinned to < 0.20, we would need to upgrade the scikit-learn version to get this working. Happy to work with you on doing this if you'd like!

[2020-01-13 06:32] marvinxu-free commented on #623
`
<dependency>
    <groupId>ml.combust.mleap</groupId>
    <artifactId>mleap-runtime_2.12</artifactId>
    <version>0.15.0</version>
</dependency>`

i used mleap-runtime this version, model is dumpeds from 0.11 spark, which meet our spark version.

[2020-01-13 08:05] ancasarb commented on #623
you can try to load a model serialized with 0.11.0 and score it with 0.15.0, we didn't introduce any compatibility issues that would break this.

[2020-01-13 15:18] mtsol commented on #619
Hello, @ancasarb I have tried with java 9 and it didn't work.

[2020-01-13 15:20] mtsol commented on #621
Hi @femibyte what kind of issues you are facing? We've serialized and deserialized spark models with mleap, and we have written custom transformers. What kind of issues you are having?

[2020-01-13 15:22] mtsol commented on #622
I also have the same issue, about 20% of my input data had different predicted values from mleap as compared to spark

[2020-01-13 15:23] mtsol commented on #620
I resolved the issue, we can close it now.

[2020-01-13 15:23] #620 closed

[2020-01-13 22:58] ancasarb commented on #619
I see, then we probably will need to wait until after Spark 3, so that we can upgrade to java 11. there's already this ticket https://github.com/combust/mleap/issues/475 to track that work, is it ok to close this one?

[2020-01-14 01:50] FredYao commented on #563
Loading from HDFS is supported since PR https://github.com/combust/mleap/pull/415. Here is a toy example for how to do that in Scala:
`
import java.net.URI
import ml.combust.mleap.spark.SparkSupport._
import org.apache.spark.ml.bundle.SparkBundleContext
import ml.bundle.hdfs.HadoopBundleFileSystem
import org.apache.hadoop.conf.Configuration
import org.apache.hadoop.fs.FileSystem
import ml.combust.

[2020-01-14 11:03] mtsol commented on #619
yeah, it's perfectly fine to close this one.

[2020-01-14 11:03] #619 closed

[2020-01-14 11:49] irene3030 opened #625 "MLeap Serialized Pipeline including a XGBoost Model does not predict same values as Spark Pipeline"
Hello,

I am currently working in a project where a machine learning model has been created using Apache Spark & XGBoost4J. In order to deploy this model in a productive environment, I've used MLeap and its extension for XGBoost to serialize my pipeline, which include the following modules: StringIndexer, OneHotEncoderEstimator, VectorAssembler and a XGBoost regression model.

When reading the MLe

[2020-01-14 18:53] FredYao commented on #595
@TotalForgot , MLeap now supports loading from HDFS. Look this PR (https://github.com/combust/mleap/pull/415) for more details. Also, here is a simple example showing how: https://github.com/combust/mleap/issues/563#issuecomment-573960259.

[2020-01-14 20:47] ancasarb commented on #594
hi @talalryz @lucagiovagnoli what mleap returns is the required input schema of the pipeline. the feature extractor gets serialized as a vector assembler and in spark that works on Vector(s) of doubles, that's why you are getting all doubles.

If you nevertheless provide the long, double, boolean and boolean features at scoring time, this won't be an issue as there's some casting available in mlea

[2020-01-14 20:50] ancasarb commented on #596
@lucagiovagnoli @talalryz can this issue be closed now that the PR has been merged? thank you!

[2020-01-14 21:17] #596 closed

[2020-01-14 21:43] ancasarb commented on #597
@psc0606 I tried to do this, to include a null value with a vector assembler without mleap and it looks like that's also not supported, so it looks like this is expected?

Here's the small example I've tried

[code]

To get this to work, you'd need to use an Imputer or some similar transformer to impute the null values first.

Do you have an example where Spark works and MLeap doesn't that I could

[2020-01-14 21:54] talalryz commented on #594
I think this is fine

[2020-01-14 21:54] #594 closed

[2020-01-14 22:05] ancasarb commented on #585
@qspeng can you try

[code]

Let me know if you're still having issues.

[2020-01-14 22:25] ancasarb commented on #609
I am not too sure about your setup, but maybe you could try to serialize it to /tmp as in Step 8 in the example here https://github.com/ancasarb/mleap-demo/blob/master/notebooks/PySpark%20-%20AirBnb.ipynb and see if that works?

[2020-01-15 23:07] ancasarb commented on #618
@Ben-Epstein is it possible to send me some sample data so that I can try this out?

[2020-01-15 23:18] ancasarb commented on #622
@mtsol @marvinxu-free trying to reproduce this, I'll keep you posted.

[2020-01-15 23:44] ancasarb commented on #622
@mtsol is your pipeline using a minmax scaler? it seems there's an issue with that, I will raise a PR for the fix tomorrow.

[2020-01-15 23:59] talalryz commented on #625
@irene3030
There was an issue with the way that mleap handles sparse rows when predicting with xgboost.
The pull request was recently merged a couple of days ago. ([PR-205](https://github.com/combust/mleap/pull/605) )
Can you build master and check if this is still an issue?

[2020-01-16 16:07] irene3030 commented on #625
Hello again,

First of all: thank you very much for your input and for fixing this issue.

I did exactly what you told me: I downloaded master branch (0.16.0-SNAPSHOT) and built the whole project. It worked like a charm! I do not longer have the problem I had and the predictions are the same than the ones obtained using Spark.

I did have one issue FYI (just in case anyone bumps into this as well)

[2020-01-16 16:20] ancasarb commented on #625
great, thanks @talalryz for all your help!

is it ok to close this issue if that's alright?

[2020-01-16 16:33] #625 closed

[2020-01-16 18:20] lucagiovagnoli commented on #625
This is great, thanks @talalryz !

[2020-01-16 19:07] talalryz commented on #625
We, at Yelp, had been struggling with this bug ourselves so we're glad we could help others out along the way :)

[2020-01-16 20:59] CarreauClement opened #626 "Loading OneHotEncoder does not seem to be working (Spark 2.1 / MLeap 0.11.0)"
Hi,

As stated in the README, I'm using MLeap 0.11.0 because I run Spark 2.1

My pipeline is as follows (code simplified) :

[code]

The saving works fine :
[code]

I checked the model I saved, here is what OneHotEncoder looks like :

[code]

The problem happens when I'm trying to load the pipeline to use it.
When I do :

[code]

I get the following error **java.util.NoSuchElementException: key no

[2020-01-16 21:03] CarreauClement commented on #626
Got it working by :

- creating my own reference.conf file by copying mleap-runtime's reference.conf file and removing the "ml.combust.mleap.bundle.ops.feature.OneHotEncoderOpV23" line
- changing my build.sbt as follows to only keep my reference.conf file :
[code]

[2020-01-16 21:18] CarreauClement commented on #584
Did you get an exception ? Maybe it was silent, try this :

- pipelineModel.writeBundle.save(new URI(modelPath)).get

It will return the result of the Try, thus will throw an exception in case something failed.

[2020-01-16 21:39] ancasarb commented on #626
There were unfortunately breaking changes for version 0.11.0 and 0.12.0 of mleap for the one hot encoder / one hot encoder estimators. One thing you could do is try to either use 0.10.3 version, or any version 0.13.0 or greater. Apologies for this!

[2020-01-16 21:41] CarreauClement commented on #626
Thanks for the reply.

Don't you think it should be on the README if something is not working properly ?

I mean, I lost hours trying to figure it out.

[2020-01-16 21:43] ancasarb commented on #626
Sure, that is a good idea. I will make sure to add this in, apologies again.

[2020-01-20 16:30] ancasarb commented on #626
Added a note about the breaking changes of 0.11.0 and 0.12.0 here https://github.com/combust/mleap/issues/626. apologies again for the confusion!

[2020-01-20 16:30] #626 closed

[2020-01-20 17:42] ancasarb commented on #618
I've actually followed the mleap demo for pyspark https://github.com/ancasarb/mleap-demo/blob/master/notebooks/PySpark%20-%20AirBnb.ipynb, serialized the pipeline and re-loaded it in Scala as below

`      val file = new File(getClass.getResource("/test.zip").toURI)
      val pipeline = (for (bf <- managed(BundleFile(file))) yield {
        bf.loadMleapBundle().get.root
      }).tried.get.asInstan

[2020-01-20 18:57] ancasarb commented on #614
I've raised #628 in order to fix this bug, thank you for the bug report!

[2020-01-20 19:06] ancasarb commented on #616
Does the subproject xyz-examples depend on xyz-spark?

Also, small note,

it is enough to do

[code]

instead of

[code]

mleap-spark is brought in as a transitive dependency for mleap-spark-extension.

[2020-01-20 19:09] ancasarb commented on #616
And actually,

[code]

needs to be

[code]

see the added ".ops" at the end of the default spark registry.

I am thinking this is possibly the cause of your issues.

[2020-01-20 19:17] ancasarb commented on #607
The one important thing I would like to mention is that you could serialize your pipeline with pyspark and you can use the mleap-runtime in scala to execute the pipeline, in order to achieve the low latencies by not requiring the Spark context.

[2020-01-20 22:16] ancasarb commented on #608
We did an overhaul with the serving layer in version 0.13.0 and the endpoints you are trying to use are from that version, if you try the same with version 0.13.0 then you should see them working. Another thing is that you need to make sure that curl uses HTTP2, or else you will get an error that resembles "Unexpected HTTP/1.x request: POST /models" for example.

[2020-01-20 22:22] ancasarb commented on #608
I've also created https://github.com/combust/mleap/pull/629 to fix the default ports, as the http port had changed from 65327 to 8080, but should be back to 65327 in 0.16.0-SNAPSHOT.

[2020-01-21 09:52] femibyte opened #630 "Error: Cannot find JsonReader or JsonFormat type class for Seq[ml.combust.mleap.runtime.frame.Row]"
Hi, I'm trying to debug some issues with my schema and parsing input so have the following code

[code]

But I keep getting errors at this line:
`val ssqlTRows = ssqlTObj.fields("rows").convertTo[Seq[Row]]`

[code]
Can anyone suggest what I'm missing ?

These are my imports:

[code]

[2020-01-21 19:59] tinaxi commented on #614
Awesome, thank you @ancasarb !

[2020-01-22 19:01] ancasarb commented on #630
@femibyte to read the frame as json you can simply do

[code]

In your case, the issue was that you have

[code]

instead of just
[code]

if you notice the double [[ ]]

Hope this helps!

[2020-01-22 23:23] voganrc opened #631 "XGBoost Performance Issues"
Hello,

I ran some JMH benchmarks that show MLeap to be significantly slower than other libraries for evaluating XGBoost models.

![image](https://user-images.githubusercontent.com/5606641/72943477-04b3c600-3d2b-11ea-9e40-a90e079defdf.png)

Here you can see throughput (ops / sec) as a function of library and batch size, where:

xgboost4j = https://github.com/dmlc/xgboost/tree/master/jvm-packages
x

[2020-01-22 23:53] lucagiovagnoli commented on #614
@tinaxi as an acceptance condition: would you be able to test this branch out, does it fix the original error?

[2020-01-23 00:44] #614 closed

[2020-01-23 00:44] ancasarb commented on #614
@tinaxi I've merged the PR, once you're happy with the fix, could you please close the issue? Thank you!

[2020-01-23 00:45] ancasarb commented on #614
Ah somehow it got closed automatically, sorry! Let me know if you find any issues.

[2020-01-23 00:59] tinaxi commented on #614
@ancasarb sure! Thank you for taking care of this!

[2020-01-23 01:04] #622 closed

[2020-01-23 01:09] femibyte opened #632 "Error running custom sql transformer on spring-boot"
Hi, I am trying to run my Spark trained mleap serialized model using spring-boot as documented here:

[code]

I'm obtaining the following error when I make the curl call to do the transform and score (Step 5)

This is a custom SQL transformer that I've written so that I can serialize the Spark trained ML pipeline.
The initial stage uses a SQL Transformer that is unsupported by mleap.
Hence the nee

[2020-01-23 01:10] femibyte commented on #632
@ancasarb

[2020-01-23 01:12] femibyte commented on #630
Yes, this was the issue. Unfortunately the error message wasn't very descriptive.
Thanks a lot for your help.

[2020-01-23 01:12] #630 closed

[2020-01-23 01:14] femibyte commented on #621
This is an issue that has been dogging me...

https://github.com/combust/mleap/issues/632

[2020-01-23 01:48] lucagiovagnoli commented on #631
Hi Anca! So, we've run some tests above and noticed that **xgboost4j is much slower than xgboost-predictor-java** :(
Historically we've use a fork of xgboost-predictor at Yelp ([yelp-xgboost](https://github.com/Yelp/xgboost-predictor-java)) so we're hitting a performance issue when running MLeap cause xgboost4j seems thousands of times slower :/

- **I was thinking to make a PR** to allow deserial

[2020-01-23 01:57] ancasarb commented on #631
Hey @lucagiovagnoli this seems fine to me, do you know if xgboost-predictor-java is available in maven already? Or is that ticket still pending?

[2020-01-23 02:07] lucagiovagnoli commented on #631
I've just noticed they are! It's mentioned on their [README](https://github.com/komiya-atsushi/xgboost-predictor-java)

and i found them on [bintray](https://bintray.com/komiya-atsushi/maven/xgboost-predictor/view) :)

[2020-01-23 02:23] ancasarb commented on #631
ok, cool :) It would be nice to see the difference in performance between the two :)

[2020-01-23 09:28] femibyte commented on #632
It seems like I'm not able to succssfully load the serialized model.

I ran the following:
[code]

and I get the same error:

[code]

Any suggestions as to how I can debug this ?

[2020-01-23 12:24] ancasarb commented on #632
@femibyte could you please try

[code]

to see if that gives you more info?

[2020-01-23 13:34] femibyte commented on #632
Thanks for the help with the bundle deserialization. I was using the wrong filename in my code. I am now getting this error from my test:

[code]

[2020-01-23 17:51] #610 closed

[2020-01-24 04:50] femibyte commented on #607
My question is this - when the pipeline is serialized and one stage uses a custom transformer - which transformer is serialized - the Spark one or the Mleap one ? In my case it's the Spark one. In which case upon deserialization, how does Mleap know that it should use the Mleap one instead ?

[2020-01-27 10:52] eisber opened #633 "MLeap usage in streaming scenario (perf issue)"
Hi,

We are using MLeap to perform model inference within Apache Accumulo. Since the Accumulo iterator framework exposes a streaming API (e.g. process row by row vs batch) we'd like to re-use as much of the objects required by MLeap.

We managed to create single "infinite" input dataframe and then produce a single result data frame from which we pull the data iteratively. It works, but unnfortunat

[2020-01-28 01:41] lucagiovagnoli commented on #633
Hi @eisber, this sounds very close to what we're trying to do (run MLeap in a streaming Apache Flink job, processing row by row). What do you think is the bottleneck in your case ?

Also, what model are you using? We found some performance issues using xgboost, see issue https://github.com/combust/mleap/issues/631

[2020-01-28 08:32] eisber commented on #633
Initially our code was substantially faster as we didn't call transform() for every row, which has to perform some initial setup (e.g. inspection of input types, output dataframe allocation,...).

@voganrc just to confirm that I read your table correctly. To get the ML examples processed by second I need to multiply the cell with the batch size, right? If so it's surprising that only xgboost4j see

[2020-01-28 16:50] ancasarb commented on #633
@eisber I will take a closer look this week, but it seems to me like this would be a good use for the RowTransformer that mleap has, you can see more details about how to use it here https://github.com/combust/mleap/blob/master/mleap-runtime/src/test/scala/ml/combust/mleap/runtime/frame/RowTransformerSpec.scala#L52. You'd be able to provide the schema upfront, from your bundled zip file, and thus

[2020-01-29 00:41] eisber commented on #633
@ancasarb thanks for the awesome hint. I changed our code: https://github.com/microsoft/masc/blob/marcozo/rowtransformer/connector/iterator/src/main/java/com/microsoft/accumulo/spark/processors/AvroRowMLeap.java#L299 and got a 40% speed improvement.

Any other hints like that?

Markus

[2020-01-29 01:50] voganrc commented on #633
@eisber Yes, you are reading my table correctly. xgboost4j was the only library I found that actually implemented batching. This PR is open though (https://github.com/combust/mleap/pull/600).

[2020-01-30 19:43] ancasarb commented on #633
@eisber the other thing I could think of is that mleap has support for avro https://mvnrepository.com/artifact/ml.combust.mleap/mleap-avro, perhaps you could be using the DefaultRowReader/DefaultRowWriter there so that you simplify your code somewhat.

[2020-01-31 06:12] gitabu commented on #504
I am looking for function where we can convert spark schema to mleap schema without providing dataset. Similar to below util:

def mleapSchemaToSparkSchema(schema: types.StructType): StructType = {
    val fields = schema.fields.map(mleapFieldToSparkField)
    StructType(fields)
  }

[2020-01-31 17:05] tirkarthi opened #634 "Syntax warning over comparison of literals using is"
[code]

[2020-01-31 17:52] ancasarb commented on #504
How or where are you planning to use the mleap schema? Is it for scoring?

[2020-01-31 19:44] lucagiovagnoli opened #635 "[XGBoostClassification] Runtime predictRaw doesn't match dmlc-xgboost"
I think we found a bug in MLeap [here](https://github.com/combust/mleap/blob/master/mleap-xgboost-runtime/src/main/scala/ml/combust/mleap/xgboost/runtime/XGBoostClassificationModel.scala#L45) where `predictRaw` doesn't match what dmlc-xgboost does.

Basically it should return (-m, m) rather than (1-m, m)
The latter is the correct result for `predictProbabilities` [here](https://github.com/combust/

[2020-01-31 20:44] lucagiovagnoli commented on #631
Hi @ancasarb,
I just found out that mleap was actually using xgboost-predictor in 2017/2018! That sounds great. I wonder if you know why it was removed in this PR https://github.com/combust/mleap/pull/401. Any any lesson learnt or big blockers in using it? (wondering if it was just to switch back to the "official" implementation)

It seems some others like @ytjia are suffering from performance deg

[2020-01-31 23:08] ancasarb commented on #631
I'd probably say that it was due to the Maven availability and being able to run on travis etc., but it was Hollin who did the integration.

What performance degradation are you referring to from @ytjia? Is there an issue for that, or?

[2020-01-31 23:09] ancasarb commented on #632
@femibyte Did the custom transformer I sent through seem fine? Is it ok to close this issue?

[2020-02-01 00:11] lucagiovagnoli commented on #631
My bad, I misused "degradation", I meant that xgboost4j is so slow for us that it's impractical to use at scale for online inference. I found this [comment](https://github.com/combust/mleap/pull/401#issuecomment-546222818) from @ytjia on pr #401 mentioning they are having the same problem.

I really liked @hollinwilkins work integrating `xgboost-predictor` in PR #259, if there's no real blocker I

[2020-02-04 01:56] ancasarb commented on #631
That sounds like a good plan @lucagiovagnoli.

[2020-02-05 06:35] changhiskhan commented on #631
I can add some color on the performance issues mentioned by @ytjia. I believe `xgboost4j` uses a static synchronized JNI entry point to communicate with the underlying xgboost code (which is not thread-safe). This isn't a problem in single-threaded applications, but in many real-time prediction applications, it's behind a multi-threaded service handling concurrent requests. We ended up using `xgbo